{% set dataset_type = h.default_package_type() %}
{# Hero BEGIN #}
<section class="rtds-hero rtds-grid rtds-bg-primary-700 rtds-py-6">
  {# <div class="overlay bg-black/10 row-span-full col-span-full"></div> #}
  <div class="rtds-container-xs rtds-hero--fullimg rtds-grid rtds-gap-6 lg:rtds-gap-16 xl:rtds-gap-32 rtds-justify-center rtds-content-center rtds-text-center rtds-content-inverse rtds-col-span-full rtds-bg-cover rtds-bg-center" style="background-image: url('/images/hero-background.png');">
    <div class="rtds-hero__content rtds-grid rtds-gap-8 rtds-max-w-[962px]">
      <h1 class="rtds-heading-1">
        {{ _('Open Data Toscana: public open data') }}<br>{{ _('For a more transparent public administration') }}
      </h1>
      {# <p class="rtds-body-base lg:rtds-body-lg 2xl:rtds-body-2xl">{{ _('For a more transparent public administration, better services, and new opportunities for the region, citizens, and businesses.') }}</p> #}
      <form role="search" class="rtds-flex rtds-gap-2 rtds-justify-center" method="get" action="{% url_for dataset_type ~ '.search' %}">
        <div class="rtds-input-field rtds-gap-1 rtds-flex-1 rtds-max-w-[720px]">
          <div class="rtds-input has-icon">
            <svg class="rtds-icon rtds-fill-current rtds-input__icon" aria-hidden="true" focusable="false" role="img">
              <use href="/icons.svg#mini--magnifying-glass" />
            </svg>
            <input aria-label="{% block header_site_search_label %}{{ h.humanize_entity_type('package', dataset_type, 'search placeholder') or _('Search datasets') }}{% endblock %}" id="inputSearchHero" class="rtds-text-sm rtds-input-placeholder" type="search" name="q" value="" autocomplete="off" placeholder="{{ _('Insert keywords (e.g. air quality, hospitals, transport networks)...') }}">
          </div>
        </div>
      </form>
    </div>
    <div class="rtds-hero__numbers rtds-grid sm:rtds-flex sm:rtds-flex-wrap rtds-gap-6 lg:rtds-gap-16 rtds-justify-center">
      <div class="rtds-grid rtds-gap-3">
        <h3 class="rtds-body-lg rtds-text-white">{{ _('Number of datasets') }}</h3>
        <div class="rtds-display-heading-4 rtds-font-bold" style="text-shadow: 0px 0px 10px rgba(2, 252, 206, 0.80);">
          {{ h.get_formatted_dataset_count() }}
        </div>
      </div>
      <div class="rtds-grid rtds-gap-3">
        <h3 class="rtds-body-lg rtds-text-white">{{ _('Annual views') }}</h3>
        <div class="rtds-display-heading-4 rtds-font-bold" style="text-shadow: 0px 0px 10px rgba(2, 252, 206, 0.80);">
          +180 mila
        </div>
      </div>
      <div class="rtds-grid rtds-gap-3">
        <h3 class="rtds-body-lg rtds-text-white">{{ _('Annual downloads') }}</h3>
        <div class="rtds-display-heading-4 rtds-font-bold" style="text-shadow: 0px 0px 10px rgba(2, 252, 206, 0.80);">
          +30 mila
        </div>
      </div>
    </div>
  </div>
</section>
{# Hero END #}

{# Piattaforme BEGIN #}
<section class="rtds-platforms rtds-py-10 rtds-border-b rtds-border-primary-700">
  <div class="rtds-container-xs rtds-px-5 lg:rtds-px-0 rtds-grid rtds-gap-8 lg:rtds-flex lg:rtds-gap-14 rtds-body-sm rtds-font-bold rtds-text-center">
    <div class="rtds-grid rtds-justify-items-center">
      <img class="" src="/images/logo-dati-gov.svg" alt="Logo dati.gov.it" width="240" height="40" />
      <p>Da anni ai primi posti in Italia per n. di dati pubblicati</p>
    </div>
    <div class="rtds-hidden lg:rtds-block rtds-border-r rtds-border-gray-03"></div>
    <div class="rtds-grid rtds-justify-items-center">
      <img class="" src="/images/logo-agid.svg" alt="Logo AgID" width="240" height="40" />
      <p>Aderenza allo standard DCAT-AP_IT, come da linee guida AgID</p>
    </div>
    <div class="rtds-hidden lg:rtds-block rtds-border-r rtds-border-gray-03"></div>
    <div class="rtds-grid rtds-justify-items-center">
      <img class="" src="/images/logo-google.svg" alt="Logo Google" width="240" height="40" />
      <p>Integrato con Google Dataset Search</p>
    </div>
  </div>
</section>
{# Piattaforme END #}

{# Temi BEGIN #}
{% snippet 'home/snippets/themes.html' %}
{# Temi END #}

{# Info BEGIN #}
{% snippet 'home/snippets/info.html' %}
{# Info END #}

{% snippet "home/snippets/most_viewed_datasets.html" %}

{# Enti carousel #}
{% snippet 'home/snippets/organizations.html' %}
{# Enti carousel END #}

{# Notizie BEGIN #}
{% snippet 'home/snippets/news.html' %}
{# Notizie END #}

{# Use cases BEGIN #}
{#
<section class="rtds-use-cases rtds-bg-gradient-02">
  <div class="rtds-container rtds-py-24 2xl:rtds-bg-[url('/images/icona-goccia.svg')] rtds-bg-no-repeat rtds-bg-right-top">
    <div class="rtds-container-xs !rtds-mx-auto rtds-grid rtds-gap-10">
      <div class="rtds-grid rtds-gap-4 rtds-content-inverse">
        <h2 class="rtds-heading-2">Use case in evidenza</h2>
        <p>Scopri come gli Open Data stanno trasformando la Toscana!<br>In questa sezione, presentiamo progetti innovativi e storie di successo che utilizzano i nostri dataset. Dai servizi pubblici migliorati a soluzioni per le imprese, lasciati ispirare dagli esempi di utilizzo concreto</p>
      </div>
      <ul class="rtds-grid md:rtds-grid-cols-2 rtds-gap-6">
        <li class="rtds-h-full">
          <article class="rtds-card rtds-card--news rtds-card--news-small rtds-card--horizontal  rtds-card--horizontal-left  is-card-fullclickable rtds-group/card rtds-h-full">
            <picture class="rtds-card__image-wrapper rtds-h-full rtds-background-04 rtds-flex rtds-items-center">
              <img class="rtds-card__image" alt="" src="/images/home-use-case-01.jpg" />
            </picture>
            <div class="rtds-card__content">
              <div class="rtds-card__heading rtds-gap-2">
                <h3 class="rtds-card__title rtds-body-lg">
                  <a class="group-hover/card:rtds-underline" href="">WebSolutions</a>
                </h3>
                <div class="rtds-card__metadata">
                  <div class="rtds-card__date rtds-font-normal">
                    <time datetime="2023-09-30">30.09.2023</time>
                  </div>
                </div>
              </div>
              <div class="rtds-card__description ">
                <p>WebSolutions è una Startup Innovativa che opera nel settore dell'alta formazione in competenze digitali e proximity...</p>
              </div>
            </div>
          </article>
        </li>
        <li class="rtds-h-full">
          <article class="rtds-card rtds-card--news rtds-card--news-small rtds-card--horizontal  rtds-card--horizontal-left  is-card-fullclickable rtds-group/card rtds-h-full">
            <picture class="rtds-card__image-wrapper rtds-h-full rtds-background-04 rtds-flex rtds-items-center">
              <img class="rtds-card__image" alt="" src="/images/home-use-case-02.jpg" />
            </picture>
            <div class="rtds-card__content">
              <div class="rtds-card__heading rtds-gap-2">
                <h3 class="rtds-card__title rtds-body-lg">
                  <a class="group-hover/card:rtds-underline" href="">Bring s.r.l</a>
                </h3>
                <div class="rtds-card__metadata">
                  <div class="rtds-card__date rtds-font-normal">
                    <time datetime="2023-09-30">30.09.2023</time>
                  </div>
                </div>
              </div>
              <div class="rtds-card__description ">
                <p>WebSolutions è una Startup Innovativa che opera nel settore dell'alta formazione in competenze digitali e proximity...</p>
              </div>
            </div>
          </article>
        </li>
        <li class="rtds-h-full">
          <article class="rtds-card rtds-card--news rtds-card--news-small rtds-card--horizontal  rtds-card--horizontal-left  is-card-fullclickable rtds-group/card rtds-h-full">
            <picture class="rtds-card__image-wrapper rtds-h-full rtds-background-04 rtds-flex rtds-items-center">
              <img class="rtds-card__image" alt="" src="/images/home-use-case-03.png" />
            </picture>
            <div class="rtds-card__content">
              <div class="rtds-card__heading rtds-gap-2">
                <h3 class="rtds-card__title rtds-body-lg">
                  <a class="group-hover/card:rtds-underline" href="">Lorem Ipsum dolor sit</a>
                </h3>
                <div class="rtds-card__metadata">
                  <div class="rtds-card__date rtds-font-normal">
                    <time datetime="2023-09-30">30.09.2023</time>
                  </div>
                </div>
              </div>
              <div class="rtds-card__description ">
                <p>WebSolutions è una Startup Innovativa che opera nel settore dell'alta formazione in competenze digitali e proximity...</p>
              </div>
            </div>
          </article>
        </li>
        <li class="rtds-h-full">
          <article class="rtds-card rtds-card--news rtds-card--news-small rtds-card--horizontal  rtds-card--horizontal-left  is-card-fullclickable rtds-group/card rtds-h-full">
            <picture class="rtds-card__image-wrapper rtds-h-full rtds-background-04 rtds-flex rtds-items-center">
              <img class="rtds-card__image" alt="" src="/images/home-use-case-04.jpg" />
            </picture>
            <div class="rtds-card__content">
              <div class="rtds-card__heading rtds-gap-2">
                <h3 class="rtds-card__title rtds-body-lg">
                  <a class="group-hover/card:rtds-underline" href="">Kode</a>
                </h3>
                <div class="rtds-card__metadata">
                  <div class="rtds-card__date rtds-font-normal">
                    <time datetime="2023-09-30">30.09.2023</time>
                  </div>
                </div>
              </div>
              <div class="rtds-card__description ">
                <p>WebSolutions è una Startup Innovativa che opera nel settore dell'alta formazione in competenze digitali e proximity...</p>
              </div>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>
#}
{# Use cases END #}