{% import 'macros/form.html' as form %}
{% asset 'ckanext-contact/main' %}

{% set recaptcha_v3_key = h.get_recaptcha_v3_key() %}
{% set recaptcha_v3_action = h.get_recaptcha_v3_action() %}

{% block contact_form %}
<form class="rtds-grid rtds-gap-8" method="post" data-module="form-contact" data-module-action="{{ recaptcha_v3_action }}" data-module-key="{{ recaptcha_v3_key }}">
    <h3 class="rtds-body-lg rtds-font-bold rtds-text-center">Compila i campi sottostanti</h3>

    {{ form.errors(error_summary) }}

    {% block contact_form_fields %}
    <div class="rtds-space-y-4">
        <div class="rtds-grid lg:rtds-flex rtds-gap-4">
            <div class="lg:rtds-w-1/2">
                {{ form.input('name', label=_('Contact Name'), id='field-name', value=data.name,
                error=errors.name, is_required=true) }}
            </div>
            <div class="lg:rtds-w-1/2">
                {{ form.input('email', label=_('Email'), id='field-email', type='email',
                value=data.email, error=errors.email,
                is_required=true) }}
            </div>
        </div>
        <div class="rtds-grid lg:rtds-flex rtds-gap-4">
            <div class="lg:rtds-w-1/2">
                {{ form.input('name', label=_('Contact Name'), id='field-name', value=data.name,
                error=errors.name, is_required=true) }}
            </div>
            <div class="lg:rtds-w-1/2">
                {{ form.input('email', label=_('Email'), id='field-email', type='email',
                value=data.email, error=errors.email,
                is_required=true) }}
            </div>
        </div>
        <div class="rtds-grid lg:rtds-flex rtds-gap-4">
            <div class="lg:rtds-w-1/2">
                {{ form.input('subject', label=_('Subject'), id='field-subject',
                value=data.subject, error=errors.subject,
                is_required=false, placeholder=_('Optional subject')) }}
            </div>
            <div class="lg:rtds-w-1/2">
                upload
            </div>
        </div>
    </div>
    {% endblock %}
    <hr>
    {# if feedback #}
    {# <div class="rtds-form-feedback">
        <p class="rtds-form-feedback-sr rtds-sr-only" aria-live="assertive"><!-- js --></p>
        <p class="rtds-form-feedback-msg" aria-hidden="true"></p>
    </div> #}
    {# endif #}
    {% block contact_form_actions %}
    <div class="rtds-form-actions rtds-grid rtds-justify-center">
        <button class="rtds-btn rtds-btn--primary rtds-form-submit" type="submit" name="save">
            {{ _('Submit') }}
        </button>
    </div>
    {% endblock %}
</form>
{% endblock %}