<div>
  <h2>Gli Open Data della Regione Toscana</h2>
  <p>Qual era il <a href="http://thedatahub.org/dataset/house-prices-uk-from-1930">prezzo medio</a> di una casa nel Regno Unito nel 1935? Quando avverrà il <a href="http://thedatahub.org/dataset/guardian-population-unitednations">sorpasso</a> della popolazione dell'India su quella della Cina? Dove si possono ammirare <a href="http://thedatahub.org/dataset/seattle-public-art">opere d'arte finanziate da enti pubblici</a> a Seattle? I dati per rispondere a molte, molte domande come queste esistono da qualche parte in Internet - ma non è sempre facile trovarli.</p>
  <p>La piattaforma <a href="http://www.regione.toscana.it/opendata">Open Data</a>, realizzata nell'ambito delle azioni previste dall'Agenda digitale toscana, mette a disposizione dati pubblici riutilizzabili, in formato aperto, favorendo così al massimo la trasparenza e la facilità di accesso alle tante informazioni di cui dispone la Regione Toscana. L'obiettivo è quello di pubblicare, attraverso un processo graduale, i tanti dataset la cui titolarità afferisce alla Regione Toscana e ad altre Pubbliche amministrazioni del territorio regionale aderenti alla Rete telematica regionale toscana (RTRT), creando un'infrastruttura che consentirà a soggetti pubblici, privati e della società civile di creare nuovi servizi e applicazioni in grado di migliorare l'accesso all'informazione, la trasparenza e quindi la vita sociale, culturale ed economica dell'intero territorio toscano.</p>
  </div>
  
  <hr />
  
  <div>
  <h2>Come funziona</h2>
  <p>Questo sito è basato su un potente software open-source di catalogazione dei dati, chiamato <a href="http://ckan.org">CKAN</a>, sviluppato dalla <a href="http://okfn.org">Open Knowledge Foundation</a>. Ogni voce di 'dataset' su CKAN contiene una descrizione dei dati e altre informazioni utili, come i formati disponibili, il detentore, la libertà di accesso e riuso, e gli argomenti che i dati affrontano. Gli altri utenti possono migliorare o modificare queste informazioni (CKAN mantiene una cronologia di tutte queste modifiche).</p>
  <p>CKAN è utilizzato per diversi cataloghi di dati su Internet. <a href="http://thedatahub.org">The Data Hub</a> è un catalogo liberamente modificabile e riutilizzabile, nello stile di Wikipedia. Il governo britannico usa CKAN per il portale <a href="http://data.gov.uk/">data.gov.uk</a>, che attualmente conta circa 8000 dataset governativi. I dati pubblici ufficiali della maggior parte dei paesi europei sono raccolti in un catalogo CKAN su <a href="http://publicdata.eu/">publicdata.eu</a>. Esiste anche una lista di questi cataloghi da tutto il mondo su <a href="http://datacatalogs.org/">datacatalogs.org</a>, che è a sua volta basato su CKAN.</p>
  </div>
  
  <hr />
  
  <div>
  <h2>Open data e Open Knowledge Foundation</h2>
  <p>La maggior parte dei dati sul portale Open Data della Regione Toscana è liberamente accessibile e riutilizzabile: chiunque ha il diritto di utilizzare e riutilizzare i dati nel modo che preferisce. Magari qualcuno prenderà quel simpatico dataset sulle opere d'arte della città che avevi trovato tu, e lo aggiungerà a una mappa turistica - oppure svilupperà una nuova app per il tuo smartphone, che ti aiuterà a trovare i monumenti quando visiti la città. Gli open data significano più impresa, ricerca scientifica collaborativa e pubblica amministrazione trasparente. Puoi approfondire questo argomento nell'<a href="http://opendatahandbook.org">Open Data Handbook</a>.</p>
  <p>La <a href="http://okfn.org">Open Knowledge Foundation</a> è una organizzazione no-profit che <a href="http://okfn.org/about/vision/">promuove</a> il sapere libero: lo sviluppo e il miglioramento costante di CKAN è uno dei modi per raggiungere questo obiettivo. Se vuoi partecipare alla progettazione o allo sviluppo, unisciti alle <a href="http://ckan.org/contact/">liste pubbliche</a> di discussione o sviluppo, o dai un'occhiata al sito della <a href="http://okfn.org">OKFN</a> per scoprire gli altri progetti in corso.</p>
  </div>
  
  <hr />
  
  <div>
  <h2>A proposito di CKAN</h2>
  {% trans %}
  <p>CKAN is the world’s leading open-source data portal platform.</p>
  
  <p>CKAN is a complete out-of-the-box software solution that makes data
  accessible and usable – by providing tools to streamline publishing, sharing,
  finding and using data (including storage of data and provision of robust data
  APIs). CKAN is aimed at data publishers (national and regional governments,
  companies and organizations) wanting to make their data open and available.</p>
  
  <p>CKAN is used by governments and user groups worldwide and powers a variety
  of official and community data portals including portals for local, national
  and international government, such as the UK’s <a href="http://data.gov.uk">data.gov.uk</a> and the
  European Union’s <a href="http://publicdata.eu/">publicdata.eu</a>, the Brazilian <a href="http://dados.gov.br/">dados.gov.br</a>, Dutch and
  Netherland government portals, as well as city and municipal sites in the US,
  UK, Argentina, Finland and elsewhere.</p>
  
  <p>CKAN: <a href="http://ckan.org/">http://ckan.org/</a><br />
  CKAN Tour: <a href="http://ckan.org/tour/">http://ckan.org/tour/</a><br />
  Features overview: <a href="http://ckan.org/features/">http://ckan.org/features/</a></p>
  {% endtrans %}
  
  {% if g.tracking_enabled %}
    <p>CKAN's page-view tracking feature is enabled.</p>
  {% else %}
    <p>CKAN's page-view tracking feature is <i>not</i> enabled.</p>
  {% endif %}
  </div>