<section class="rtds-section rtds-mb-16 rtds-space-y-6 rtds-scroll-m-[--header-height] md:rtds-scroll-m-0" id="open-data-rt">
  <div class="rtds-section-header rtds-mb-8">
    <h2 class="rtds-heading-3 md:rtds-heading-2">Gli Open Data della Regione Toscana</h2>
  </div>
  <div class="rtds-article-body">
    <p>
      Qual era il
      <a href="http://thedatahub.org/dataset/house-prices-uk-from-1930">prezzo medio</a>
      di una casa nel Regno Unito nel 1935? Quando avverrà il
      <a href="http://thedatahub.org/dataset/guardian-population-unitednations">sorpasso</a>
      della popolazione dell'India su quella della Cina? Dove si possono ammirare
      <a href="http://thedatahub.org/dataset/seattle-public-art">opere d'arte finanziate da enti pubblici</a>
      a Seattle? I dati per rispondere a molte, molte domande come queste esistono
      da qualche parte in Internet - ma non è sempre facile trovarli.
    </p>
    <p>
      La piattaforma
      <a href="http://www.regione.toscana.it/opendata">Open Data</a>, realizzata
      nell'ambito delle azioni previste dall'Agenda digitale toscana, mette a
      disposizione dati pubblici riutilizzabili, in formato aperto, favorendo così
      al massimo la trasparenza e la facilità di accesso alle tante informazioni
      di cui dispone la Regione Toscana. L'obiettivo è quello di pubblicare,
      attraverso un processo graduale, i tanti dataset la cui titolarità afferisce
      alla Regione Toscana e ad altre Pubbliche amministrazioni del territorio
      regionale aderenti alla Rete telematica regionale toscana (RTRT), creando
      un'infrastruttura che consentirà a soggetti pubblici, privati e della
      società civile di creare nuovi servizi e applicazioni in grado di migliorare
      l'accesso all'informazione, la trasparenza e quindi la vita sociale,
      culturale ed economica dell'intero territorio toscano.
    </p>
  </div>
  <div>
    <a href="#sideNav" class="rtds-btn rtds-btn--icon-right rtds-group/button rtds-btn--inverted rtds-btn-back-to-menu rtds-btn--s">
      Torna su
      <svg class="rtds-icon rtds-fill-current rtds-w-4 rtds-h-4 rtds-transition-all rtds-duration-200 rtds-ease-out rtds-transform group-hover/button:rtds-translate-x-1" aria-hidden="true" focusable="false" role="img">
        <use href="../../icons.svg#mini--arrow-up"></use>
      </svg>
    </a>
  </div>
</section>

<section class="rtds-section rtds-mb-16 rtds-space-y-6 rtds-scroll-m-[--header-height] md:rtds-scroll-m-0" id="come">
  <div class="rtds-section-header rtds-mb-8">
    <h2 class="rtds-heading-3 md:rtds-heading-2">Come funziona</h2>
  </div>
  <div class="rtds-article-body">
    <p>
      Questo sito è basato su un potente software open-source di catalogazione dei
      dati, chiamato <a href="http://ckan.org">CKAN</a>, sviluppato dalla
      <a href="http://okfn.org">Open Knowledge Foundation</a>. Ogni voce di
      'dataset' su CKAN contiene una descrizione dei dati e altre informazioni
      utili, come i formati disponibili, il detentore, la libertà di accesso e
      riuso, e gli argomenti che i dati affrontano. Gli altri utenti possono
      migliorare o modificare queste informazioni (CKAN mantiene una cronologia di
      tutte queste modifiche).
    </p>
    <p>
      CKAN è utilizzato per diversi cataloghi di dati su Internet.
      <a href="http://thedatahub.org">The Data Hub</a> è un catalogo liberamente
      modificabile e riutilizzabile, nello stile di Wikipedia. Il governo
      britannico usa CKAN per il portale
      <a href="http://data.gov.uk/">data.gov.uk</a>, che attualmente conta circa
      8000 dataset governativi. I dati pubblici ufficiali della maggior parte dei
      paesi europei sono raccolti in un catalogo CKAN su
      <a href="http://publicdata.eu/">publicdata.eu</a>. Esiste anche una lista di
      questi cataloghi da tutto il mondo su
      <a href="http://datacatalogs.org/">datacatalogs.org</a>, che è a sua volta
      basato su CKAN.
    </p>
  </div>
  <div>
    <a href="#sideNav" class="rtds-btn rtds-btn--icon-right rtds-group/button rtds-btn--inverted rtds-btn-back-to-menu rtds-btn--s">
      Torna su
      <svg class="rtds-icon rtds-fill-current rtds-w-4 rtds-h-4 rtds-transition-all rtds-duration-200 rtds-ease-out rtds-transform group-hover/button:rtds-translate-x-1" aria-hidden="true" focusable="false" role="img">
        <use href="../../icons.svg#mini--arrow-up"></use>
      </svg>
    </a>
  </div>
</section>

<section class="rtds-section rtds-mb-16 rtds-space-y-6 rtds-scroll-m-[--header-height] md:rtds-scroll-m-0" id="open-knowledge">
  <div class="rtds-section-header rtds-mb-8">
    <h2 class="rtds-heading-3 md:rtds-heading-2">Open data e Open Knowledge Foundation</h2>
  </div>
  <div class="rtds-article-body">
    <p>
      La maggior parte dei dati sul portale Open Data della Regione Toscana è
      liberamente accessibile e riutilizzabile: chiunque ha il diritto di
      utilizzare e riutilizzare i dati nel modo che preferisce. Magari qualcuno
      prenderà quel simpatico dataset sulle opere d'arte della città che avevi
      trovato tu, e lo aggiungerà a una mappa turistica - oppure svilupperà una
      nuova app per il tuo smartphone, che ti aiuterà a trovare i monumenti quando
      visiti la città. Gli open data significano più impresa, ricerca scientifica
      collaborativa e pubblica amministrazione trasparente. Puoi approfondire
      questo argomento nell'<a href="http://opendatahandbook.org">Open Data Handbook</a>.
    </p>
    <p>
      La <a href="http://okfn.org">Open Knowledge Foundation</a> è una
      organizzazione no-profit che
      <a href="http://okfn.org/about/vision/">promuove</a> il sapere libero: lo
      sviluppo e il miglioramento costante di CKAN è uno dei modi per raggiungere
      questo obiettivo. Se vuoi partecipare alla progettazione o allo sviluppo,
      unisciti alle <a href="http://ckan.org/contact/">liste pubbliche</a> di
      discussione o sviluppo, o dai un'occhiata al sito della
      <a href="http://okfn.org">OKFN</a> per scoprire gli altri progetti in corso.
    </p>
  </div>
  <div>
    <a href="#sideNav" class="rtds-btn rtds-btn--icon-right rtds-group/button rtds-btn--inverted rtds-btn-back-to-menu rtds-btn--s">
      Torna su
      <svg class="rtds-icon rtds-fill-current rtds-w-4 rtds-h-4 rtds-transition-all rtds-duration-200 rtds-ease-out rtds-transform group-hover/button:rtds-translate-x-1" aria-hidden="true" focusable="false" role="img">
        <use href="../../icons.svg#mini--arrow-up"></use>
      </svg>
    </a>
  </div>
</section>

<section class="rtds-section rtds-mb-16 rtds-space-y-6 rtds-scroll-m-[--header-height] md:rtds-scroll-m-0" id="ckan">
  <div class="rtds-section-header rtds-mb-8">
    <h2 class="rtds-heading-3 md:rtds-heading-2">A proposito di CKAN</h2>
  </div>
{% trans %}
  <div class="rtds-article-body">
    <p>CKAN is the world’s leading open-source data portal platform.</p>
    <p>
      CKAN is a complete out-of-the-box software solution that makes data
      accessible and usable – by providing tools to streamline publishing,
      sharing, finding and using data (including storage of data and provision of
      robust data APIs). CKAN is aimed at data publishers (national and regional
      governments, companies and organizations) wanting to make their data open
      and available.
    </p>
    <p>
      CKAN is used by governments and user groups worldwide and powers a variety
      of official and community data portals including portals for local, national
      and international government, such as the UK’s
      <a href="http://data.gov.uk">data.gov.uk</a> and the European Union’s
      <a href="http://publicdata.eu/">publicdata.eu</a>, the Brazilian
      <a href="http://dados.gov.br/">dados.gov.br</a>, Dutch and Netherland
      government portals, as well as city and municipal sites in the US, UK,
      Argentina, Finland and elsewhere.
    </p>
    <p>
      CKAN: <a href="http://ckan.org/">http://ckan.org/</a><br />
      CKAN Tour: <a href="http://ckan.org/tour/">http://ckan.org/tour/</a><br />
      Features overview:
      <a href="http://ckan.org/features/">http://ckan.org/features/</a>
    </p>
  </div>
  <div>
    <a href="#sideNav" class="rtds-btn rtds-btn--icon-right rtds-group/button rtds-btn--inverted rtds-btn-back-to-menu rtds-btn--s">
      Torna su
      <svg class="rtds-icon rtds-fill-current rtds-w-4 rtds-h-4 rtds-transition-all rtds-duration-200 rtds-ease-out rtds-transform group-hover/button:rtds-translate-x-1" aria-hidden="true" focusable="false" role="img">
        <use href="../../icons.svg#mini--arrow-up"></use>
      </svg>
    </a>
  </div>
{% endtrans %}
</section>

<section class="rtds-section rtds-mb-16 rtds-space-y-6 rtds-scroll-m-[--header-height] md:rtds-scroll-m-0" id="credits">
  <div class="rtds-section-header rtds-mb-8">
    <h2 class="rtds-heading-3 md:rtds-heading-2">Credits</h2>
  </div>
  <div>
    <img class="rtds-max-w-[200px] rtds-max-h-[100px]" src="/images/regione-toscana-logo-footer.png" srcset="/images/regione-toscana-logo-footer.png 1x, /images/regione-toscana-logo-footer@2x.png 2x" alt="Regione Toscana" width="220" height="65" />
  </div>
  <div class="rtds-article-body">
    <h3>Regione Toscana</h3>
    <p>
      <b>Regione Toscana - Direzione Sistemi informativi, Infrastrutture tecnologiche e Innovazione Settore "Servizi Digitali e Integrazione Dati. Ufficio Regionale di Statistica"</b><br><br>
      <i>Responsabile del settore:</i> Ing. <a href="https://www.consiglio.regione.toscana.it/uffici/Persone?id=00000003A2E400070000014815779BC3"><u>Leonardo Borselli</u></a><br>
      <i>Responsabile del progetto:</i> <a href="https://www.consiglio.regione.toscana.it/uffici/Persone?id=00000003A2D800080000014815779BC3"><u>Davide Bruno</u></a>
    </p>
    
    <p style="text-align: justify;">
    
      Gruppo di Lavoro per gli <b>Open Data</b> istituito ai sensi della <a href="http://goo.gl/QIYF6I"><u>delibera n. 23 del 21/01/2013</u></a> dal titolo <i>"Realizzazione piattaforma open data e approvazione linee guida recanti criteri generali per gli open
        data in Regione Toscana"</i> nella seduta del Comitato tecnico di direzione in data 24/04/2013.
      <br><br> Nel 2015 è stata promulgata la <a href="http://raccoltanormativa.consiglio.regione.toscana.it/articolo?urndoc=urn:nir:regione.toscana:legge:2015-02-18;19&pr=idx,1;artic,0;articparziale,0"><u>L.R. n.19 del 18/02/15 "Disposizioni in materia di dati aperti e loro riutilizzo"</u></a>.
      <br><br> Nel Gennaio 2017 è stato approvato l'ampliamento e l'integrazione dell'attuale gruppo di lavoro interdirezionale: "Open data", a seguito dell'evoluzione tecnologica (in particolare, i bigdata) e normativa (l.r.19/2015 e, a livello
      nazionale, Linee guida Nazionali anno 2016) nel nuovo gruppo di lavoro interdirezionale: <b>"Open Data & Big Data"</b>.
      <br><br> Il gruppo di lavoro ha le seguenti funzioni: eseguire e coordinare tutte le attività necessarie per l’attuazione della normativa, degli atti e delle strategie a livello nazionale e regionale; promuovere la partecipazione e il coinvolgimento
      della Regione Toscana in progetti e iniziative di livello nazionale e internazionale, ritenute strategiche per l’Ente di appartenenza; affrontare tutti gli aspetti legati alla gestione degli open data e dei big data e sostenere l’opportuna
      attività di divulgazione.
      <br><br> Il gruppo di lavoro è composto da: Leonardo Borselli (responsabile del gruppo di lavoro), Davide Bruno, Luca Cipriani, Luca Bonuccelli, Alessandro Santucci (Sistemi informativi, Infrastrutture tecnologiche e Innovazione);
      Emiliano Ricci, Marica Ugoni Marchetto (DG Presidenza); Walter Pratesi (Mobilità, infrastrutture e trasporto pubblico locale), Ilaria Tabarrani (Urbanistica).
    </p>
  </div>
  <hr>
  <div class="rtds-article-body">
    <h2>Progetti Europei</h2>
  </div>
  <div>
    <img class="rtds-max-w-[200px] rtds-max-h-[100px]" src="/images/Teadal.jpg" alt="Teadal" width="" height="" />
  </div>
  <div class="rtds-article-body">
    <h3>Teadal "Trustworthy, Energy-Aware federated DAta Lakes along the computing continuum"</h3>
    <p>La realizzazione 2022-2025 vede impegnati 18 partner. La Regione Toscana sarà impegnata principalmente nel <b>work pachage 2 <i>Use cases, requirements, and architecture</i></b> per la definizione dei casi d'uso in ambito energetico utili per ricostruire per area territoriale <b>una mappatura del livello di efficienza energetica e della qualità dell'aria</b>, derivando insight anche tramite l'applicazione di tecniche di machine learning.<br>
    </p>
  </div>
  <div>
    <img class="rtds-max-w-[200px] rtds-max-h-[100px]" src="/images/fusepoolp3-logo-text.svg" alt="FusepoolP3" width="" height="" />
  </div>
  <div class="rtds-article-body">
    <h3>Fusepool p3</h3>
    <p>
      Regione Toscana è partner del progetto europeo <a href="http://p3.fusepool.eu">Fusepool p3</a> come "Data Provider". Il progetto europeo EU Fusepool P3 ha come obiettivo lo sviluppo di una piattaforma integrata nell'ambito dei big data,
      semantica applicata, multilinguismo, per la pubblicazione e l'elaborazione di open data per la creazione di open linked data.<br></p>
  </div>
  <div>
    <img class="rtds-max-w-[200px] rtds-max-h-[100px]" src="/images/fi-ware_accelerators.jpg" alt="FI-WARE ACCELERATE" width="" height="" />
  </div>
  <div class="rtds-article-body">
    <h3>FI - WARE</h3>
    <p>Il catalogo CKAN degli open data di Regione Toscana è disponibile anche per il progetto europeo <a href="http://www.f6s.com/fiware-soul-fi">FI - WARE</a> progetto acceleratore che mira a finanziare promettenti applicazioni e servizi che contribuiranno
      a rendere le città d' Europa più smart e più sostenibile per i propri cittadini.<br></p>
  </div>
  <div>
    <img class="rtds-max-w-[200px] rtds-max-h-[100px]" src="/images/logo_herit_data.jpg" alt="Herit Data" width="" height="" />
  </div>
  <div class="rtds-article-body">
    <h3>HERIT DATA</h3>
    <p>
      il progetto europeo <a href="http://www.regione.toscana.it/-/herit-data-il-progetto-europeo-su-turismo-sostenibile-e-big-data">HERIT DATA</a> su turismo sostenibile e big data: nuove tecnologie e big data per ridurre impatti negativi del turismo. La Regione Toscana capofila del progetto con partenariato Italia, Croazia, Francia, Grecia e Spagna (12 partner di 7 paesi) e budget complessivo di 4 milioni 195 mila euro.<br></p>
  </div>
  <div>
    <img class="rtds-max-w-[200px] rtds-max-h-[100px]" src="/images/logo_trafair.jpg" alt="Trafair" width="" height="" />
  </div>
  <div class="rtds-article-body">
    <h3>TRAFAIR</h3>
    <p>
      il progetto europeo <a href="https://www.regione.toscana.it/-/il-progetto-europeo-trafair-per-controllare-flussi-di-traffico-e-qualit-c3-a0-dell-aria">TRAFAIR</a> per controllare flussi di traffico e qualità dell'aria:
      un servizio di previsione della qualità dell'aria attivo per 2 anni in 6 città europee, tra cui Pisa, Livorno e Firenze, sulla base dei flussi di traffico e del clima. La Regione partner del progetto che punta a contenere l'inquinamento atmosferico delle città.<br></p>
  </div>
  <hr>
  <div>
    <img class="rtds-max-w-[200px] rtds-max-h-[100px]" src="/images/logo_google.png" alt="Google" width="" height="" />
  </div>
  <div class="rtds-article-body">
    <h3>Google Dataset Search</h3>
    <p>Il catalogo CKAN degli open data di Regione Toscana è indicizzato da Google Dataset Search.<br /></p>
    <p><a href="https://datasetsearch.research.google.com/">https://datasetsearch.research.google.com/</a><br><br></p>
  </div>
  <hr>
  <div>
    <img class="rtds-max-w-[200px] rtds-max-h-[100px]" src="/images/logo_ckan.jpg" alt="CKAN" width="" height="" />
  </div>
  <div class="rtds-article-body">
    <h3>DCAT-AP-IT</h3>
    <p>Il Catalogo è compliance con il profilo di metadati AGID DCAT-AP_IT Implementato grazie allo sforzo congiunto, dalla Provincia di Bolzano/Sud Tirol e dalla Provincia di Trento.<br /></p>
    <h2>Powered by</h2>
    <h3>CKAN</h3>
    <p><a href="http://ckan.org/">http://ckan.org.eu/</a><br><br></p>
  </div>
  <div>
    <a href="#sideNav" class="rtds-btn rtds-btn--icon-right rtds-group/button rtds-btn--inverted rtds-btn-back-to-menu rtds-btn--s">
      Torna su
      <svg class="rtds-icon rtds-fill-current rtds-w-4 rtds-h-4 rtds-transition-all rtds-duration-200 rtds-ease-out rtds-transform group-hover/button:rtds-translate-x-1" aria-hidden="true" focusable="false" role="img">
        <use href="../../icons.svg#mini--arrow-up"></use>
      </svg>
    </a>
  </div>
</section>

{% if g.tracking_enabled %}
  <p>CKAN's page-view tracking feature is enabled.</p>
{% else %}
  <p>CKAN's page-view tracking feature is <i>not</i> enabled.</p>
{% endif %}