
<section class="rtds-info rtds-bg-gradient-02 rtds-py-10 lg:rtds-py-20">
  <div class="rtds-container-xs rtds-grid rtds-gap-8 lg:rtds-gap-10">
    <h2 class="rtds-heading-2 rtds-content-inverse">{{ _('Featured') }}</h2>
    <ul role="list" class="rtds-grid sm:rtds-flex rtds-gap-4">
      <li class="rtds-col">
        <article class="rtds-card rtds-card--news is-card-fullclickable rtds-group/card">
          <picture class="rtds-card__image-wrapper">
            <img class="rtds-card__image" alt="" src="/images/home-orari-trasporto.jpg" />
          </picture>
          <div class="rtds-card__content">
            <div class="rtds-card__heading">
              <h3 class="rtds-card__title">
                <a class="group-hover/card:rtds-underline" href="/dataset/rt-oraritb">{{ _('Public transport schedules') }}</a>
              </h3>
            </div>
          </div>
        </article>
      </li>
      <li class="rtds-col">
        <article class="rtds-card rtds-card--news is-card-fullclickable rtds-group/card">
          <picture class="rtds-card__image-wrapper">
            <img class="rtds-card__image" alt="" src="/images/home-centraline-traffico.jpg" />
          </picture>
          <div class="rtds-card__content">
            <div class="rtds-card__heading">
              <h3 class="rtds-card__title">
                <a class="group-hover/card:rtds-underline" href="/dataset/sistmontraf-centraline">{{ _('Traffic monitoring stations') }}</a>
              </h3>
            </div>
          </div>
        </article>
      </li>
      <li class="rtds-col">
        <article class="rtds-card rtds-card--news is-card-fullclickable rtds-group/card">
          <picture class="rtds-card__image-wrapper">
            <img class="rtds-card__image" alt="" src="/images/home-meteo.jpg" />
          </picture>
          <div class="rtds-card__content">
            <div class="rtds-card__heading">
              <h3 class="rtds-card__title">
                <a class="group-hover/card:rtds-underline" href="{{ h.url_for('dataset.search') }}?_groups_limit=0&groups=meteo">{{ _('Weather') }}</a>
              </h3>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>