
<section class="rtds-info rtds-bg-gradient-02 rtds-py-10 lg:rtds-py-20">
  <div class="rtds-container-xs rtds-grid rtds-gap-5 lg:rtds-gap-10">
    <h2 class="rtds-heading-2 rtds-content-inverse">Informazioni sempre aggiornate</h2>
    <ul role="list" class="rtds-grid rtds-gap-4 md:rtds-grid-cols-2 lg:rtds-grid-cols-3">
      <li class="rtds-col">
        <article class="rtds-card rtds-card--news is-card-fullclickable rtds-group/card">
          <picture class="rtds-card__image-wrapper">
            <img class="rtds-card__image" alt="" src="/images/home-orari-trasporto.jpg" />
          </picture>
          <div class="rtds-card__content">
            <div class="rtds-card__heading">
              <h3 class="rtds-card__title">
                <a class="group-hover/card:rtds-underline" href="{{ h.url_for('dataset.search') }}?_groups_limit=0&dcat_theme=TRAN">Orari trasporto pubblico</a>
              </h3>
            </div>
          </div>
        </article>
      </li>
      <li class="rtds-col">
        <article class="rtds-card rtds-card--news is-card-fullclickable rtds-group/card">
          <picture class="rtds-card__image-wrapper">
            <img class="rtds-card__image" alt="" src="/images/home-centraline-traffico.jpg" />
          </picture>
          <div class="rtds-card__content">
            <div class="rtds-card__heading">
              <h3 class="rtds-card__title">
                <a class="group-hover/card:rtds-underline" href="{{ h.url_for('dataset.search') }}?groups=infrastrutture-e-trasporti">Centraline traffico</a>
              </h3>
            </div>
          </div>
        </article>
      </li>
      <li class="rtds-col">
        <article class="rtds-card rtds-card--news is-card-fullclickable rtds-group/card">
          <picture class="rtds-card__image-wrapper">
            <img class="rtds-card__image" alt="" src="/images/home-meteo.jpg" />
          </picture>
          <div class="rtds-card__content">
            <div class="rtds-card__heading">
              <h3 class="rtds-card__title">
                <a class="group-hover/card:rtds-underline" href="{{ h.url_for('dataset.search') }}?_groups_limit=0&groups=meteo">Meteo</a>
              </h3>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>