
<section class="rtds-temi rtds-py-10 lg:rtds-py-20">
  <div class="rtds-container-xs rtds-grid rtds-gap-6 lg:rtds-gap-10">
    <div class="rtds-grid rtds-gap-6 lg:rtds-gap-10">
      <div class="rtds-flex rtds-items-center rtds-gap-2">
        <h2 class="rtds-heading-2">{{ _('Themes') }}</h2>
        <div class="rtds-w-4 rtds-h-16 rtds-ml-4" style="transform: rotate(20.661deg);background: radial-gradient(49.74% 49.74% at 0.95% 51.26%, rgba(171, 171, 171, 0.64) 0%, #C0C0C0 0.01%, rgba(233, 233, 233, 0.00) 100%);"></div>
        <div class="rtds-flex rtds-items-center">
          <span class="rtds-body-base">{{ _('see all') }}</span>
          <a href="{% url_for 'dataset.search' %}" class="rtds-btn rtds-btn--only-text rtds-btn--icon-right rtds-group/button">
            {{ _('the themes') }}
            <svg class="rtds-icon rtds-fill-current rtds-w-4 rtds-h-4 rtds-transition-all rtds-duration-200 rtds-ease-out rtds-transform group-hover/button:rtds-translate-x-1" aria-hidden="true" focusable="false" role="img">
              <use href="/icons.svg#mini--arrow-right" />
            </svg>
          </a>
        </div>
      </div>
      <p>{{ _('Explore data by theme. From transport to health, from education to the environment, find easily the datasets you are looking for') }}</p>
    </div>
    <ul role="list" class="rtds-grid rtds-gap-6 md:rtds-grid-cols-2 lg:rtds-grid-cols-4">
      <li class="rtds-col">
        <article class="rtds-card rtds-card--information rtds-bg-gradient-04 is-card-fullclickable rtds-group/card">
          <div class="rtds-card__icon">
            <svg class="rtds-icon rtds-fill-current rtds-w-12 rtds-h-12" aria-hidden="true" focusable="false" role="img">
              <use href="/icons.svg#{{ h.get_theme_icon('ENVI') }}" />
            </svg>
          </div>
          <div class="rtds-card__content">
            <div class="rtds-card__heading">
              <h3 class="rtds-card__title">
                <a class="group-hover/card:rtds-underline" href="{% url_for 'dataset.search', dcat_theme='ENVI' %}">{{ h.get_theme_name('ENVI') }}</a>
              </h3>
            </div>
            <div class="rtds-card__description ">
              <p>Dati su qualità dell'aria, acque superficiali, suolo, aree protette, gestione dei rifiuti e rischio idrogeologico in Toscana.</p>
            </div>
          </div>
        </article>
      </li>
      <li class="rtds-col">
        <article class="rtds-card rtds-card--information rtds-bg-gradient-04 is-card-fullclickable rtds-group/card">
          <div class="rtds-card__icon">
            <svg class="rtds-icon rtds-fill-current rtds-w-12 rtds-h-12" aria-hidden="true" focusable="false" role="img">
              <use href="/icons.svg#{{ h.get_theme_icon('REGI') }}" />
            </svg>
          </div>
          <div class="rtds-card__content">
            <div class="rtds-card__heading">
              <h3 class="rtds-card__title">
                <a class="group-hover/card:rtds-underline" href="{% url_for 'dataset.search', dcat_theme='REGI' %}">{{ h.get_theme_name('REGI') }}</a>
              </h3>
            </div>
            <div class="rtds-card__description ">
              <p>Informazioni demografiche, urbanistiche e geografiche sui comuni e le province toscane.</p>
            </div>
          </div>
        </article>
      </li>
      <li class="rtds-col">
        <article class="rtds-card rtds-card--information rtds-bg-gradient-04 is-card-fullclickable rtds-group/card">
          <div class="rtds-card__icon">
            <svg class="rtds-icon rtds-fill-current rtds-w-12 rtds-h-12" aria-hidden="true" focusable="false" role="img">
              <use href="/icons.svg#{{ h.get_theme_icon('GOVE') }}" />
            </svg>
          </div>
          <div class="rtds-card__content">
            <div class="rtds-card__heading">
              <h3 class="rtds-card__title">
                <a class="group-hover/card:rtds-underline" href="{% url_for 'dataset.search', dcat_theme='GOVE' %}">{{ h.get_theme_name('GOVE') }}</a>
              </h3>
            </div>
            <div class="rtds-card__description ">
              <p>Dati su bilanci regionali, spesa pubblica, servizi offerti ai cittadini e organizzazione amministrativa.</p>
            </div>
          </div>
        </article>
      </li>
      <li class="rtds-col">
        <article class="rtds-card rtds-card--information rtds-bg-gradient-04 is-card-fullclickable rtds-group/card">
          <div class="rtds-card__icon">
            <svg class="rtds-icon rtds-fill-current rtds-w-12 rtds-h-12" aria-hidden="true" focusable="false" role="img">
              <use href="/icons.svg#{{ h.get_theme_icon('TECH') }}" />
            </svg>
          </div>
          <div class="rtds-card__content">
            <div class="rtds-card__heading">
              <h3 class="rtds-card__title">
                <a class="group-hover/card:rtds-underline" href="{% url_for 'dataset.search', dcat_theme='TECH' %}">{{ h.get_theme_name('TECH') }}</a>
              </h3>
            </div>
            <div class="rtds-card__description ">
              <p>Dati su ricerca, innovazione, sviluppo tecnologico e digitalizzazione nel territorio toscano.</p>
            </div>
          </div>
        </article>
      </li>
      <li class="rtds-col">
        <article class="rtds-card rtds-card--information rtds-bg-gradient-04 is-card-fullclickable rtds-group/card">
          <div class="rtds-card__icon">
            <svg class="rtds-icon rtds-fill-current rtds-w-12 rtds-h-12" aria-hidden="true" focusable="false" role="img">
              <use href="/icons.svg#{{ h.get_theme_icon('TRAN') }}" />
            </svg>
          </div>
          <div class="rtds-card__content">
            <div class="rtds-card__heading">
              <h3 class="rtds-card__title">
                <a class="group-hover/card:rtds-underline" href="{% url_for 'dataset.search', dcat_theme='TRAN' %}">{{ h.get_theme_name('TRAN') }}</a>
              </h3>
            </div>
            <div class="rtds-card__description ">
              <p>Dati su infrastrutture stradali, ferrovie, mobilità urbana e trasporti pubblici in Toscana.</p>
            </div>
          </div>
        </article>
      </li>
      <li class="rtds-col">
        <article class="rtds-card rtds-card--information rtds-bg-gradient-04 is-card-fullclickable rtds-group/card">
          <div class="rtds-card__icon">
            <svg class="rtds-icon rtds-fill-current rtds-w-12 rtds-h-12" aria-hidden="true" focusable="false" role="img">
              <use href="/icons.svg#{{ h.get_theme_icon('ECON') }}" />
            </svg>
          </div>
          <div class="rtds-card__content">
            <div class="rtds-card__heading">
              <h3 class="rtds-card__title">
                <a class="group-hover/card:rtds-underline" href="{% url_for 'dataset.search', dcat_theme='ECON' %}">{{ h.get_theme_name('ECON') }}</a>
              </h3>
            </div>
            <div class="rtds-card__description ">
              <p>Dati su bilanci pubblici, occupazione, produzione industriale e altri indicatori economici del territorio toscano.</p>
            </div>
          </div>
        </article>
      </li>
      <li class="rtds-col">
        <article class="rtds-card rtds-card--information rtds-bg-gradient-04 is-card-fullclickable rtds-group/card">
          <div class="rtds-card__icon">
            <svg class="rtds-icon rtds-fill-current rtds-w-12 rtds-h-12" aria-hidden="true" focusable="false" role="img">
              <use href="/icons.svg#{{ h.get_theme_icon('ENER') }}" />
            </svg>
          </div>
          <div class="rtds-card__content">
            <div class="rtds-card__heading">
              <h3 class="rtds-card__title">
                <a class="group-hover/card:rtds-underline" href="{% url_for 'dataset.search', dcat_theme='ENER' %}">{{ h.get_theme_name('ENER') }}</a>
              </h3>
            </div>
            <div class="rtds-card__description ">
              <p>Dati su produzione, consumo e fonti energetiche, incluse le rinnovabili, in Toscana.</p>
            </div>
          </div>
        </article>
      </li>
      <li class="rtds-col">
        <article class="rtds-card rtds-card--information rtds-bg-gradient-04 is-card-fullclickable rtds-group/card">
          <div class="rtds-card__icon">
            <svg class="rtds-icon rtds-fill-current rtds-w-12 rtds-h-12" aria-hidden="true" focusable="false" role="img">
              <use href="/icons.svg#{{ h.get_theme_icon('EDUC') }}" />
            </svg>
          </div>
          <div class="rtds-card__content">
            <div class="rtds-card__heading">
              <h3 class="rtds-card__title">
                <a class="group-hover/card:rtds-underline" href="{% url_for 'dataset.search', dcat_theme='EDUC' %}">{{ h.get_theme_name('EDUC') }}</a>
              </h3>
            </div>
            <div class="rtds-card__description ">
              <p>Dati su scuole, università, musei, eventi culturali e impianti sportivi del territorio toscano.</p>
            </div>
          </div>
        </article>
      </li>
      <li class="rtds-col">
        <article class="rtds-card rtds-card--information rtds-bg-gradient-04 is-card-fullclickable rtds-group/card">
          <div class="rtds-card__icon">
            <svg class="rtds-icon rtds-fill-current rtds-w-12 rtds-h-12" aria-hidden="true" focusable="false" role="img">
              <use href="/icons.svg#{{ h.get_theme_icon('SOCI') }}" />
            </svg>
          </div>
          <div class="rtds-card__content">
            <div class="rtds-card__heading">
              <h3 class="rtds-card__title">
                <a class="group-hover/card:rtds-underline" href="{% url_for 'dataset.search', dcat_theme='SOCI' %}">{{ h.get_theme_name('SOCI') }}</a>
              </h3>
            </div>
            <div class="rtds-card__description ">
              <p>I dati sulla popolazione e le dinamiche sociali.</p>
            </div>
          </div>
        </article>
      </li>
      <li class="rtds-col">
        <article class="rtds-card rtds-card--information rtds-bg-gradient-04 is-card-fullclickable rtds-group/card">
          <div class="rtds-card__icon">
            <svg class="rtds-icon rtds-fill-current rtds-w-12 rtds-h-12" aria-hidden="true" focusable="false" role="img">
              <use href="/icons.svg#{{ h.get_theme_icon('HEAL') }}" />
            </svg>
          </div>
          <div class="rtds-card__content">
            <div class="rtds-card__heading">
              <h3 class="rtds-card__title">
                <a class="group-hover/card:rtds-underline" href="{% url_for 'dataset.search', dcat_theme='HEAL' %}">{{ h.get_theme_name('HEAL') }}</a>
              </h3>
            </div>
            <div class="rtds-card__description ">
              <p>Dati su strutture sanitarie, servizi medici, statistiche di popolazione e salute pubblica in Toscana.</p>
            </div>
          </div>
        </article>
      </li>
      <li class="rtds-col">
        <article class="rtds-card rtds-card--information rtds-bg-gradient-04 is-card-fullclickable rtds-group/card">
          <div class="rtds-card__icon">
            <svg class="rtds-icon rtds-fill-current rtds-w-12 rtds-h-12" aria-hidden="true" focusable="false" role="img">
              <use href="/icons.svg#{{ h.get_theme_icon('AGRI') }}" />
            </svg>
          </div>
          <div class="rtds-card__content">
            <div class="rtds-card__heading">
              <h3 class="rtds-card__title">
                <a class="group-hover/card:rtds-underline" href="{% url_for 'dataset.search', dcat_theme='AGRI' %}">{{ h.get_theme_name('AGRI') }}</a>
              </h3>
            </div>
            <div class="rtds-card__description ">
              <p>Dati su produzioni agricole, zootecnia, viticoltura, forestazione e gestione del territorio rurale in Toscana.</p>
            </div>
          </div>
        </article>
      </li>
      <li class="rtds-col">
        <article class="rtds-card rtds-card--information rtds-bg-gradient-04 is-card-fullclickable rtds-group/card">
          <div class="rtds-card__icon">
            <svg class="rtds-icon rtds-fill-current rtds-w-12 rtds-h-12" aria-hidden="true" focusable="false" role="img">
              <use href="/icons.svg#{{ h.get_theme_icon('JUST') }}" />
            </svg>
          </div>
          <div class="rtds-card__content">
            <div class="rtds-card__heading">
              <h3 class="rtds-card__title">
                <a class="group-hover/card:rtds-underline" href="{% url_for 'dataset.search', dcat_theme='JUST' %}">{{ h.get_theme_name('JUST') }}</a>
              </h3>
            </div>
            <div class="rtds-card__description ">
              <p>Dati su sicurezza, infrazioni stradali e attività giudiziaria in Toscana.</p>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>