.vscode
.history
*.code-workspace

ckanext/opendata_theme/__pycache__
ckanext/opendata_theme/routes/__pycache__

ckanext/opendata_theme/templates/home/robots.txt

ckanext/opendata_theme/templates/odt
