{% extends "page-search.html" %}
{# {% extends "organization/read_base.html" %} #}
{# {% extends "page-organization.html" %} #}
{% set dataset_type = h.default_package_type() %}
{% set organization = group_dict %}

{% block pre_primary %}

<div class="rtds-grid rtds-gap-6 rtds-mt-8 rtds-mb-12">
  <div class="rtds-flex">
    <a href="javascript:history.back()" class="rtds-text-link rtds-content-03 rtds-text-link--s">
      <svg class="rtds-icon rtds-fill-current rtds-w-4 rtds-h-4 rtds-flex-shrink-0 rtds-flex-grow-0" aria-hidden="true" focusable="false" role="img">
        <use href="/icons.svg#solid--arrow-left" />
      </svg>
      {{ _('Go back') }}
    </a>
  </div>

  {% if h.check_access('organization_update', {'id': group_dict.id}) %}
    <a class="rtds-btn rtds-btn--s rtds-btn--primary rtds-w-fit" href="{{ h.url_for(group_type ~ '.edit', id=group_dict.name) }}">
      {{ _('Manage') }}
      <svg class="rtds-icon rtds-fill-current rtds-w-2 rtds-h-2 md:rtds-w-4 md:rtds-h-4 lg:rtds-w-6 lg:rtds-h-6 rtds-transition-all rtds-duration-200 rtds-ease-out rtds-transform group-hover:rtds-translate-x-1" aria-hidden="true" focusable="false" role="img">
        <use href="/icons.svg#mini--wrench" />
      </svg>
    </a>
  {% endif %}

  <div class="rtds-grid rtds-gap-6">
    <div class="rtds-bg-white rtds-rounded-lg rtds-p-2 rtds-w-fit">
      <img class="rtds-max-h-48" src="{{ organization.image_display_url }}" width="" height="" alt="{{ organization.name }}" />
      {# <img class="rtds-max-h-[100px]" src="{{ organization.image_display_url }}" width="" height="" alt="{{ organization.name }}" /> #}
      {# <img class="rtds-w-full rtds-object-cover" src="http://localhost:5000/uploads/group/2016-10-12-135352.489839comune-firenze.png" width="" height="" alt="comune-di-firenze"> #}
    </div>
    <h1 class="rtds-heading-1 rtds-mb-6">{{ organization.title or organization.name }}</h1>
    {% block description %}
    {% if organization.description %}
    <p>
      {{ h.render_markdown(organization.description) }}
    </p>
    {% else %}
    <p>{{ h.humanize_entity_type('organization', organization.type, 'no description') or _('There is no description for this organization') }}</p>
    {% endif %}
    {% endblock %}
  </div>

</div>

{% endblock %}




{# La parte qui sotto è tratta dall'originale #}
{% block primary_content_inner %}
    {% block groups_search_form %}
      {% set facets = {
        'fields': fields_grouped,
        'search': search_facets,
        'titles': facet_titles,
        'translated_fields': translated_fields,
        'remove_field': remove_field }
      %}
      {% set sorting = [
        (_('Relevance'), 'score desc, metadata_modified desc'),
        (_('Name Ascending'), 'title_string asc'),
        (_('Name Descending'), 'title_string desc'),
        (_('Last Modified'), 'metadata_modified desc'),
        (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
      %}
      {% snippet 'snippets/search_form.html', form_id='organization-datasets-search-form', type=dataset_type, query=q, sorting=sorting, sorting_selected=sort_by_selected, count=page.item_count, facets=facets, placeholder=h.humanize_entity_type('package', dataset_type, 'search_placeholder') or _('Search datasets...'), show_empty=request.args, fields=fields %}
    {% endblock %}
  {% block packages_list %}
    {% if page.items %}
      {{ h.snippet('snippets/package_list.html', packages=page.items) }}
    {% endif %}
  {% endblock %}
  {% block page_pagination %}
    {{ page.pager(q=q) }}
  {% endblock %}
{% endblock %}

{% block secondary_content %}
<div class="rtds-hidden lg:rtds-block">
  <div class="rtds-grid rtds-bg-white rtds-rounded-lg rtds-px-6 rtds-py-4">
    <div class="rtds-grid rtds-gap-4 rtds-pb-4 rtds-border-b rtds-border-gray-02">
      <h2 class="rtds-heading-3">Filtri</h2>
      <p class="rtds-text-sm rtds-content-03">Affina i risultati selezionando i filtri pertinenti. I risultati si aggiornano automaticamente</p>
    </div>
    <div>
      {% for facet in facet_titles %}
      {# {{ h.snippet('snippets/facet_list.html', title=facet_titles[facet], name=facet, search_facets=search_facets, facet_titles_loop=loop) }} #}
      {{ h.snippet('snippets/facet_list.html', title=facet_titles[facet], name=facet, extras={'id':group_dict.id}, search_facets=search_facets) }}
      {% endfor %}
      {# <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a> #}
    </div>
  </div>
</div>
  {# <div class="filters">
    <div>
      {% for facet in facet_titles %}
        {{ h.snippet('snippets/facet_list.html', title=facet_titles[facet], name=facet, extras={'id':group_dict.id}, search_facets=search_facets) }}
      {% endfor %}
    </div>
    <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
  </div> #}
{% endblock %}