{% extends "page-organization.html" %}
{% set dataset_type = h.default_package_type() %}

{% block pre_primary %}
<div class="rtds-grid rtds-gap-6 rtds-mt-8 rtds-mb-12">
  <div class="rtds-flex">
    <a href="javascript:history.back()" class="rtds-text-link rtds-content-03 rtds-text-link--s">
      <svg class="rtds-icon rtds-fill-current rtds-w-4 rtds-h-4 rtds-flex-shrink-0 rtds-flex-grow-0" aria-hidden="true" focusable="false" role="img">
        <use href="/icons.svg#solid--arrow-left" />
      </svg>
      {{ _('Go back') }}
    </a>
  </div>
  <div class="rtds-mb-2">
    <img class="rtds-max-h-[100px]" src="{{ organization.image_display_url }}" width="" height="" alt="{{ organization.name }}" />
  </div>
  <h1 class="rtds-heading-1 rtds-mb-6">{{ organization.title or organization.name }}</h1>
  {% block description %}
  {% if organization.description %}
  <p>
    {{ h.markdown_extract(organization.description, 180) }}
  </p>
  {% else %}
  <p>{{ h.humanize_entity_type('organization', organization.type, 'no description') or _('There is no description for this organization') }}</p>
  {% endif %}
  {% endblock %}
</div>
{% endblock %}
