{% extends "page.html" %}

{% block subtitle %}{{ _('Credits') }}{% endblock %}

{% block breadcrumb_content %}
<li class="active"><a href="#">Credits</a></li>
{% endblock %}

{% block primary %}
<div class="rtds-container">
  <div class="rtds-grid xl:rtds-flex rtds-gap-6 xl:rtds-gap-8">
    <section class="module-content">
      <div class="ckanext-pages-content rtds-container rtds-px-10 rtds-py-6">
        <h1 class="rtds-heading-1">{{ _('Credits') }}</h1>
      </div>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-7">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <img width="200" src="/images/logo_toscana_payoff.jpg">
        </div>
        <div class="col-md-7">
            <h3>Regione Toscana</h3>
            <p>
                <b>Regione Toscana - Direzione Sistemi informativi, Infrastrutture tecnologiche e Innovazione Settore "Servizi Digitali e Integrazione Dati. Ufficio Regionale di Statistica"</b><br><br>
				<i>Responsabile del settore:</i> Ing. <a href="https://www.consiglio.regione.toscana.it/uffici/Persone?id=00000003A2E400070000014815779BC3"><u>Leonardo Borselli</u></a><br> 
				<i>Responsabile del progetto:</i> <a href="https://www.consiglio.regione.toscana.it/uffici/Persone?id=00000003A2D800080000014815779BC3"><u>Davide Bruno</u></a>
			</p>
            
            <p style="text-align: justify;">

                Gruppo di Lavoro per gli <b>Open Data</b> istituito ai sensi della <a href="http://goo.gl/QIYF6I"><u>delibera n. 23 del 21/01/2013</u></a> dal titolo <i>"Realizzazione piattaforma open data e approvazione linee guida recanti criteri generali per gli open
                data in Regione Toscana"</i> nella seduta del Comitato tecnico di direzione in data 24/04/2013.
                <br><br> Nel 2015 è stata promulgata la <a href="http://raccoltanormativa.consiglio.regione.toscana.it/articolo?urndoc=urn:nir:regione.toscana:legge:2015-02-18;19&pr=idx,1;artic,0;articparziale,0"><u>L.R. n.19 del 18/02/15 "Disposizioni in materia di dati aperti e loro riutilizzo"</u></a>.
                <br><br> Nel Gennaio 2017 è stato approvato l'ampliamento e l'integrazione dell'attuale gruppo di lavoro interdirezionale: "Open data", a seguito dell'evoluzione tecnologica (in particolare, i bigdata) e normativa (l.r.19/2015 e, a livello
                nazionale, Linee guida Nazionali anno 2016) nel nuovo gruppo di lavoro interdirezionale: <b>"Open Data & Big Data"</b>.
                <br><br> Il gruppo di lavoro ha le seguenti funzioni: eseguire e coordinare tutte le attività necessarie per l’attuazione della normativa, degli atti e delle strategie a livello nazionale e regionale; promuovere la partecipazione e il coinvolgimento
                della Regione Toscana in progetti e iniziative di livello nazionale e internazionale, ritenute strategiche per l’Ente di appartenenza; affrontare tutti gli aspetti legati alla gestione degli open data e dei big data e sostenere l’opportuna
                attività di divulgazione.
                <br><br> Il gruppo di lavoro è composto da: Leonardo Borselli (responsabile del gruppo di lavoro), Davide Bruno,  Luca Cipriani, Luca Bonuccelli, Alessandro Santucci (Sistemi informativi, Infrastrutture tecnologiche e Innovazione); 
				Emiliano Ricci, Marica Ugoni Marchetto (DG Presidenza); Walter Pratesi (Mobilità, infrastrutture e trasporto pubblico locale), Ilaria Tabarrani (Urbanistica).
            </p>
        </div>
    </div>

    <div class="row">
        <hr />
    </div>

    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-7">
            <h2>Progetti Europei</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <img width="200" src="/images/Teadal.jpg">
        </div>
        <div class="col-md-7">
            <h3>Teadal "Trustworthy, Energy-Aware federated DAta Lakes along the computing continuum"</h3>
            <p>La realizzazione 2022-2025 vede impegnati 18 partner. La Regione Toscana sarà impegnata principalmente nel <b>work pachage 2 <i>Use cases, requirements, and architecture</i></b> per la definizione dei casi d'uso in ambito energetico utili per ricostruire per area territoriale <b>una mappatura del livello di efficienza energetica e della qualità dell'aria</b>, derivando insight anche tramite l'applicazione di tecniche di machine learning.<br>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <img width="200" src="/images/fusepoolp3-logo-text.svg">
        </div>
        <div class="col-md-7">
            <h3>Fusepool p3</h3>
            <p>
                Regione Toscana è partner del progetto europeo <a href="http://p3.fusepool.eu">Fusepool p3</a> come "Data Provider". Il progetto europeo EU Fusepool P3 ha come obiettivo lo sviluppo di una piattaforma integrata nell'ambito dei big data,
                semantica applicata, multilinguismo, per la pubblicazione e l'elaborazione di open data per la creazione di open linked data.<br></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <img width="200" src="/images/fi-ware_accelerators.jpg">
        </div>
        <div class="col-md-7">
            <h3>FI - WARE</h3>
            <p>Il catalogo CKAN degli open data di Regione Toscana è disponibile anche per il progetto europeo <a href="http://www.f6s.com/fiware-soul-fi">FI - WARE</a> progetto acceleratore che mira a finanziare promettenti applicazioni e servizi che contribuiranno
                a rendere le città d' Europa più smart e più sostenibile per i propri cittadini.<br></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <img width="120" src="/images/logo_herit_data.jpg">
        </div>
        <div class="col-md-7">
            <h3>HERIT DATA</h3>
            <p>
			il progetto europeo <a href="http://www.regione.toscana.it/-/herit-data-il-progetto-europeo-su-turismo-sostenibile-e-big-data">HERIT DATA</a> su turismo sostenibile e big data: nuove tecnologie e big data per ridurre impatti negativi del turismo. La Regione Toscana capofila del progetto con partenariato Italia, Croazia, Francia, Grecia e Spagna (12 partner di 7 paesi) e budget complessivo di 4 milioni 195 mila euro.<br></p>
        </div>
    </div>
	
	<div class="row">
        <div class="col-md-4">
            <img width="200" src="/images/logo_trafair.jpg">
        </div>
        <div class="col-md-7">
            <h3>TRAFAIR</h3>
            <p>
			il progetto europeo <a href="https://www.regione.toscana.it/-/il-progetto-europeo-trafair-per-controllare-flussi-di-traffico-e-qualit-c3-a0-dell-aria">TRAFAIR</a> per controllare flussi di traffico e qualità dell'aria:
			un servizio di previsione della qualità dell'aria attivo per 2 anni in 6 città europee, tra cui Pisa, Livorno e Firenze, sulla base dei flussi di traffico e del clima. La Regione partner del progetto che punta a contenere l'inquinamento atmosferico delle città.<br></p>
        </div>
    </div>

    <div class="row">
        <hr>
    </div>
	
	<div class="row">
        <div class="col-md-4">
           <img width="100" src="/images/logo_google.png">
        </div>
        <div class="col-md-7">
            <h3>Google Dataset Search</h3>
            <p>Il catalogo CKAN degli open data di Regione Toscana è indicizzato da Google Dataset Search.<br /></p>
            <p><a href="https://datasetsearch.research.google.com/">https://datasetsearch.research.google.com/</a><br><br></p>
        </div>
    </div>

    <div class="row">
        <hr />
    </div>

    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-7">
            <h2>DCAT-AP</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-7">
            <h3>DCAT-AP-IT</h3>
            <p>Il Catalogo è compliance con il profilo di metadati AGID DCAT-AP_IT Implementato grazie allo sforzo congiunto, dalla Provincia di Bolzano/Sud Tirol e dalla Provincia di Trento.<br /></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-7">
            <h2>Powered by</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <img width="100" src="/images/logo_ckan.jpg">
        </div>
        <div class="col-md-7">
            <h3>CKAN</h3>
            <p><a href="http://ckan.org/">http://ckan.org.eu/</a><br><br></p>
        </div>
    </div>
    </section>
  </div>
</div>
{% endblock %}

{% block secondary %}{% endblock %}

