{% extends "package/read_base.html" %}

{%- block page -%}

{% block skip %}
<div class="visually-hidden-focusable"><a href="#content">{{ _('Skip to main content') }}</a></div>
{% endblock %}

{#
Override the header on a page by page basis by extending this block. If
making sitewide header changes it is preferable to override the header.html
file.
#}
{%- block header %}
{% include "header.html" %}
{% endblock -%}

{# The content block allows you to replace the content of the page if needed #}
{%- block content %}
{% block maintag %}<main class="rtds-background-02 rtds-pb-16">{% endblock %}
  {% block main_content %}
  {% block flash %}
  {% endblock %}

  {% block toolbar %}
  {% endblock %}

  <div class="rtds-container">
    {#
    The pre_primary block can be used to add content to before the
    rendering of the main content columns of the page.
    #}
    {% block pre_primary %}
    {% endblock %}

    {% block secondary %}
    {% endblock %}

    {% block primary %}
      {#
      The primary_content block can be used to add content to the page.
      This is the main block that is likely to be used within a template.

      Example:

      {% block primary_content %}
      <h1>My page content</h1>
      <p>Some content for the page</p>
      {% endblock %}
      #}
      {% block primary_content %}
        {% block page_header %}
        {% endblock %}
        <div class="rtds-grid rtds-gap-4 rtds-py-8 rtds-px-4 rtds-bg-white rtds-rounded-xl">
          {% if self.page_primary_action() | trim %}
          <div class="page_primary_action">
            {% block page_primary_action %}{% endblock %}
          </div>
          {% endif %}
          {% block primary_content_inner %}
          {% endblock %}

          {% block data_preview %}
            {% block resource_view %}
              {% block resource_view_nav %}
              {% snippet "package/snippets/resource_views_list.html",
              views=resource_views,
              pkg=pkg,
              is_edit=false,
              view_id=current_resource_view['id'],
              resource=resource,
              extra_class="nav-tabs"
              %}
              {% endblock %}
              <hr>
              {% block resource_view_content %}
              <div class="resource-view">
                {% if resource_views %}
                  {% for resource_view in resource_views %}
                    {% if resource_view == current_resource_view %}
                      {% snippet 'package/snippets/resource_view.html',
                      resource_view=resource_view,
                      resource=resource,
                      package=package
                      %}
                    {% endif %}
                  {% endfor %}
                {% else %}
                <div class="data-viewer-info">
                  <p>{{ _("There are no views created for this resource yet.") }}</p>
                  {% if h.check_access('resource_view_create', {'resource_id': resource.id}) %}
                  <p class="text-muted">
                    <i class="fa fa-info-circle"></i>
                    {{ _("Not seeing the views you were expecting?")}}
                    <a href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#data-view-info">
                      {{ _('Click here for more information.') }}</a>
                  </p>
                  <div id="data-view-info" class="collapse">
                    <p>{{ _('Here are some reasons you may not be seeing expected views:') }}</p>
                    <ul>
                      <li>{{ _("No view has been created that is suitable for this resource")}}</li>
                      <li>{{ _("The site administrators may not have enabled the relevant view plugins")}}</li>
                      <li>{{ _("If a view requires the DataStore, the DataStore plugin may not be enabled, or the data may not have been pushed to the DataStore, or the DataStore hasn't finished processing the data yet")}}</li>
                    </ul>
                  </div>
                  {% endif %}
                </div>
                {% endif %}
              </div>
              {% endblock %}
            {% endblock %}
          {% endblock %}
        </div>
      {% endblock %}
    {% endblock %}
  </div>
  {% endblock %}
</main>
{% endblock -%}

{#
Override the footer on a page by page basis by extending this block. If
making sitewide header changes it is preferable to override the footer.html-u
file.
#}
{%- block footer %}
{% include "footer.html" %}
{% endblock -%}
{%- endblock -%}

{%- block scripts %}
{% asset 'base/main' %}
{% asset 'base/ckan' %}
{% if g.tracking_enabled %}
{% asset 'base/tracking' %}
{% endif %}
{{ super() }}
{% endblock -%}