{% extends "package/read_base.html" %}

{%- block page -%}

{% block skip %}
<div class="visually-hidden-focusable"><a href="#content">{{ _('Skip to main content') }}</a></div>
{% endblock %}

{#
Override the header on a page by page basis by extending this block. If
making sitewide header changes it is preferable to override the header.html
file.
#}
{%- block header %}
{% include "header.html" %}
{% endblock -%}

{# The content block allows you to replace the content of the page if needed #}
{%- block content %}
{% block maintag %}<main class="rtds-flex rtds-background-02 rtds-pb-16">{% endblock %}
  {% block main_content %}
  {% block flash %}
  {% endblock %}

  {% block toolbar %}
  {% endblock %}

  <div class="rtds-container">
    {#
    The pre_primary block can be used to add content to before the
    rendering of the main content columns of the page.
    #}
    {% block pre_primary %}
    <div class="rtds-grid rtds-gap-4 rtds-mt-10 rtds-mb-10 xl:rtds-mb-32 rtds-py-6 rtds-px-10 rtds-bg-gradient-02 rtds-rounded-2xl rtds-content-inverse">
      <div class="rtds-flex">
        <a href="#" class="rtds-text-link rtds-text-link--s rtds-text-link--inverse">
          <svg class="rtds-icon rtds-fill-current rtds-w-4 rtds-h-4 rtds-flex-shrink-0 rtds-flex-grow-0" aria-hidden="true" focusable="false" role="img">
            <use href="/icons.svg#solid--arrow-left" />
          </svg>
          Torna indietro
        </a>
      </div>
      <h1 class="rtds-heading-1 rtds-max-w-5xl">{{ h.dataset_display_name(pkg) }}</h1>
      <div class="rtds-body-lg rtds-max-w-5xl">{{ h.render_markdown(h.get_translated(pkg, 'notes')) }}</div>
    </div>
    {% endblock %}

    {# <h2 class="rtds-sr-only" id="tablist-1">Titolo tablist</h2>
    <ul role="tablist" aria-labelledby="tablist-1" class="rtds-tablist is-tablist is-manual rtds-border-b rtds-border-gray-01 rtds-flex">
      {% block content_primary_nav %}
        <li role="presentation">
          <a href="" class="rtds-tab is-tab rtds-tab--default" role="tab" id="tab-1" aria-selected="true" aria-controls="tabpanel-1">
            <span>Voce 1</span>
          </a>
        </li>
        <li role="presentation">
          <a href="" class="rtds-tab is-tab rtds-tab--default" role="tab" id="tab-2" tabindex="-1" aria-controls="tabpanel-2">
            <span>Voce 2</span>
          </a>
        </li>
      {% endblock %}
    </ul> #}

    {# <div class="rtds-grid xl:rtds-grid-cols-12 rtds-gap-6 xl:rtds-gap-8"> #}
    <div class="rtds-grid xl:rtds-flex rtds-gap-6 xl:rtds-gap-8">

      {% block primary %}
      {# <div class="xl:rtds-col-span-8"> #}
      <div class="rtds-page-main rtds-transition-all rtds-duration-300 rtds-grow xl:rtds-shrink-0 xl:rtds-w-2/3">

{#
  <div id="tabpanel-1" class="rtds-tablist__tabpanel " role="tabpanel" aria-labelledby="tab-1">
  <div id="tabpanel-2" class="rtds-tablist__tabpanel  hidden" role="tabpanel" aria-labelledby="tab-2">
#}

        {#
        The primary_content block can be used to add content to the page.
        This is the main block that is likely to be used within a template.

        Example:

        {% block primary_content %}
        <h1>My page content</h1>
        <p>Some content for the page</p>
        {% endblock %}
        #}
        {% block primary_content %}
        {# <article class="module"> #}
          {% block page_header %}
          {# <header class="module-content page-header"> #}
            {% if self.content_action() | trim %}
            {# <div class="content_action">
              {% block content_action %}{% endblock %}
            </div> #}
            {% endif %}
            {# <ul class="nav nav-tabs">
              {% block content_primary_nav %}
              {{ h.build_nav_icon(dataset_type ~ '.read', _('Dataset'), id=pkg.name, icon='sitemap') }}
              {{ h.build_nav_icon(dataset_type ~ '.groups', h.humanize_entity_type('group', default_group_type, 'content tab') or _('Groups'), id=pkg.name, icon='users') }}
              {% endblock %}
            </ul> #}
            {#
          </header> #}
          {% endblock %}
          <div class="rtds-grid rtds-gap-4 rtds-py-8 rtds-px-4 rtds-bg-white rtds-rounded-xl">
            {% if self.page_primary_action() | trim %}
            <div class="page_primary_action">
              {% block page_primary_action %}{% endblock %}
            </div>
            {% endif %}
            {% block primary_content_inner %}
            {% endblock %}
          </div>
          {#
        </article> #}
        {% endblock %}
      </div>
      {% endblock %}

      {% block secondary %}
      {# <div class="xl:rtds-col-span-4"> #}
      <div class="rtds-sidebar" aria-expanded="true">
        <aside class="rtds-bg-white rtds-h-full rtds-border-l rtds-border-gray-02 rtds-py-6 rtds-flex rtds-gap-6">
          {#
          The secondary_content block can be used to add content to the
          sidebar of the page. This is the main block that is likely to be
          used within a template.

          Example:

          {% block secondary_content %}
          <h2>A sidebar item</h2>
          <p>Some content for the item</p>
          {% endblock %}
          #}
          <div class="rtds-hidden xl:rtds-block rtds-pl-2">
            <button type="button" class="rtds-sidebar-btn rtds-btn rtds-btn--icon rtds-btn--inverted">
              <svg class="rtds-inline-block rtds-align-middle rtds-fill-current rtds-w-8 rtds-h-8 rtds-transition-all rtds-duration-300" aria-hidden="true" focusable="false" role="img">
                <use href="/icons.svg#mini--chevron-double-right" />
              </svg>
            </button>
          </div>

          {% block secondary_content %}
          <div class="rtds-sidebar-content rtds-transition-all rtds-duration-300 rtds-grid rtds-gap-6 rtds-content-start rtds-pl-4 lg:rtds-pl-10 xl:rtds-pl-0">

            {% block package_organization %}
            {% if pkg.organization %}
            {% set org = h.get_organization(pkg.organization.id) %}
            {% snippet "snippets/organization.html", organization=org, has_context_title=true %}
            {% endif %}
            {% endblock %}

            {% block package_info %}
            {# {% snippet 'package/snippets/info.html', pkg=pkg %} #}
            {% endblock %}

            {% block package_social %}
            {% snippet "snippets/social.html" %}
            {% endblock %}

            {% block package_license %}
            {% snippet "snippets/license.html", pkg_dict=pkg %}
            {% endblock %}

          </div>
          {% endblock %}
        </aside>
      </div>
      {% endblock %}
    </div>
  </div>
  {% endblock %}
</main>
{% endblock -%}

{#
Override the footer on a page by page basis by extending this block. If
making sitewide header changes it is preferable to override the footer.html-u
file.
#}
{%- block footer %}
{% include "footer.html" %}
{% endblock -%}
{%- endblock -%}

{%- block scripts %}
{% asset 'base/main' %}
{% asset 'base/ckan' %}
{% if g.tracking_enabled %}
{% asset 'base/tracking' %}
{% endif %}
{{ super() }}
{% endblock -%}