{% extends "organization/read_base.html" %}

{%- block page -%}

{% block skip %}
<div class="visually-hidden-focusable"><a href="#content">{{ _('Skip to main content') }}</a></div>
{% endblock %}

{#
Override the header on a page by page basis by extending this block. If
making sitewide header changes it is preferable to override the header.html
file.
#}
{%- block header %}
{% include "header.html" %}
{% endblock -%}

{# The content block allows you to replace the content of the page if needed #}
{%- block content %}
  {% block maintag %}<main class="rtds-flex rtds-background-02 rtds-pb-16">{% endblock %}
    {% block main_content %}
      {% block flash %}
      {% endblock %}

      {% block toolbar %}
      {% endblock %}

  <div class="rtds-container">
    {#
    The pre_primary block can be used to add content to before the
    rendering of the main content columns of the page.
    #}
    {% block pre_primary %}
    {% endblock %}
  </div>
  {% endblock %}
</main>
{% endblock -%}

{#
Override the footer on a page by page basis by extending this block. If
making sitewide header changes it is preferable to override the footer.html-u
file.
#}
{%- block footer %}
{% include "footer.html" %}
{% endblock -%}
{%- endblock -%}

{%- block scripts %}
{% asset 'base/main' %}
{% asset 'base/ckan' %}
{% if g.tracking_enabled %}
{% asset 'base/tracking' %}
{% endif %}
{{ super() }}
{% endblock -%}