{% extends "page-search.html" %}

{% block subtitle %}{{ _('Report') }}{% endblock %}

{% block pre_primary %}
<div class="rtds-grid rtds-gap-4 rtds-mt-8 rtds-mb-12">
  <div class="rtds-flex">
    <a href="javascript:history.back()" class="rtds-text-link rtds-content-03 rtds-text-link--s">
      <svg class="rtds-icon rtds-fill-current rtds-w-4 rtds-h-4 rtds-flex-shrink-0 rtds-flex-grow-0" aria-hidden="true" focusable="false" role="img">
        <use href="../../icons.svg#solid--arrow-left" />
      </svg>
      {{ _('Go back') }}
    </a>
  </div>
  <h1 class="rtds-heading-1">{{ _('Report') }}</h1>
</div>
{% endblock %}

{% block secondary %}{% endblock %}

{% block primary %}
<div class="lg:rtds-col-span-12">
  <section class="rtds-bg-white rtds-rounded-lg rtds-shadow-md rtds-px-6 rtds-py-4">
    <div id="reports" class="rtds-report-list">
      {% for report in reports %}
        {% set report_url=h.url_for('report.view', report_name=report.name, **h.report__explicit_default_options(report.name)) %}
        <div class="rtds-report-item">
          <h4><a href="{{ report_url }}">{{ report.title }}</a></h4>
          <p>{{ report.description }}</p>
        </div>
      {% endfor %}
    </div>
    <p class="rtds-generated-note">
      <svg class="rtds-icon" aria-hidden="true">
        <use href="/icons.svg#outline--clock" />
      </svg>
      {{ _('I report vengono generati automaticamente ogni giorno.') }}
    </p>
  </section>
</div>
{% endblock %}
