/**
 * SEMANTIC COLOR UTILITIES
 *
*/
@layer utilities {
    /* CONTENT TEXT COLOR UTILITIES */
    .rtds-content-01 {
        color: var(--color-content-01);
    }

    .rtds-content-02 {
        color: var(--color-content-02);
    }

    .rtds-content-03 {
        color: var(--color-content-03);
    }

    .rtds-content-04 {
        color: var(--color-content-04);
    }

    .rtds-content-05 {
        color: var(--color-content-05);
    }

    .rtds-content-placeholder {
        color: var(--color-content-placeholder);
    }

    .rtds-input-placeholder {
        color: var(--color-input-placeholder);
    }

    .rtds-content-inverse {
        color: var(--color-content-inverse);
    }

    .rtds-content-disabled {
        color: var(--color-content-disabled);
    }

    .rtds-content-primary {
        color: var(--color-content-primary);
    }

    .rtds-content-primary-dark {
        color: var(--color-content-primary-dark);
    }

    .rtds-content-primary-light {
        color: var(--color-content-primary-light);
    }

    .rtds-content-secondary {
        color: var(--color-content-secondary);
    }

    .rtds-content-secondary-dark {
        color: var(--color-content-secondary-dark);
    }

    .rtds-content-secondary-light {
        color: var(--color-content-secondary-light);
    }

    .rtds-content-error {
        color: var(--color-content-error);
    }

    .rtds-content-warn {
        color: var(--color-content-warn);
    }

    .rtds-content-info {
        color: var(--color-content-info);
    }

    .rtds-content-success {
        color: var(--color-content-success);
    }

    .rtds-content-category {
        color: var(--color-content-category);
    }

    /* BUTTON COLOR UTILITIES */
    .rtds-button-primary {
        background-color: var(--color-button-primary);
        border-color: var(--color-button-primary);
    }

    .rtds-button-primary-hover {
        background-color: var(--color-button-primary-hover);
        border-color: var(--color-button-primary-hover);
    }

    .rtds-button-primary-active {
        background-color: var(--color-button-primary-active);
        border-color: var(--color-button-primary-active);
    }

    .rtds-button-secondary {
        background-color: var(--color-button-secondary);
        border-color: var(--color-button-secondary);
    }

    .rtds-button-secondary-hover {
        background-color: var(--color-button-secondary-hover);
        border-color: var(--color-button-secondary-hover);
    }

    .rtds-button-secondary-active {
        background-color: var(--color-button-secondary-active);
        border-color: var(--color-button-secondary-active);
    }

    .rtds-button-disabled {
        background-color: var(--color-button-disabled);
        border-color: var(--color-button-disabled);
    }

    .rtds-button-outline {
        color: var(--color-button-outline);
        border-color: var(--color-button-outline);
    }

    .rtds-button-outline-hover {
        color: var(--color-button-outline-hover);
        border-color: var(--color-button-outline-hover);
    }

    .rtds-button-outline-active {
        color: var(--color-button-outline-active);
        border-color: var(--color-button-outline-active);
    }

    .rtds-button-only-text {
        color: var(--color-button-only-text);
        border-color: transparent;
    }

    .rtds-button-only-text-hover {
        color: var(--color-button-only-text-hover);
        border-color: transparent;
    }

    .rtds-button-only-text-active {
        color: var(--color-button-only-text-active);
        border-color: transparent;
    }

    .rtds-button-inverted {
        background-color: var(--color-button-inverted);
        border-color: var(--color-button-inverted);
    }

    .rtds-button-inverted-hover {
        background-color: var(--color-button-inverted-hover);
        border-color: var(--color-button-inverted-hover);
    }

    .rtds-button-inverted-focus {
        background-color: var(--color-button-inverted-focus);
        border-color: var(--color-button-inverted-focus);
    }

    .rtds-button-inverted-active {
        background-color: var(--color-button-inverted-active);
        border-color: var(--color-button-inverted-active);
    }

    .rtds-button-inverted-text {
        color: var(--color-button-inverted-text);
    }

    .rtds-button-inverted-text-hover {
        color: var(--color-button-inverted-text-hover);
    }

    .rtds-button-inverted-text-focus {
        color: var(--color-button-inverted-text-focus);
    }

    .rtds-button-inverted-text-active {
        color: var(--color-button-inverted-text-active);
    }

    .rtds-button-text-inverted {
        background-color: var(--color-button-text-inverted);
        border-color: var(--color-button-text-inverted);
    }

    .rtds-button-text-inverted-hover {
        background-color: var(--color-button-text-inverted-hover);
        border-color: var(--color-button-text-inverted-hover);
    }

    .rtds-button-text-inverted-focus {
        background-color: var(--color-button-text-inverted-focus);
        border-color: var(--color-button-text-inverted-focus);
    }

    .rtds-button-text-inverted-active {
        background-color: var(--color-button-text-inverted-active);
        border-color: var(--color-button-text-inverted-active);
    }

    .rtds-button-text-inverted-text {
        color: var(--color-button-text-inverted-text);
    }

    .rtds-button-text-inverted-text-hover {
        color: var(--color-button-text-inverted-text-hover);
    }

    .rtds-button-text-inverted-text-focus {
        color: var(--color-button-text-inverted-text-focus);
    }

    .rtds-button-text-inverted-text-active {
        color: var(--color-button-text-inverted-text-active);
    }


    /* LINK TEXT COLOR UTILITIES */
    .rtds-link-primary {
        color: var(--color-link-primary);
    }

    .rtds-link-visited {
        color: var(--color-link-visited);
    }

    .rtds-link-inverse {
        color: var(--color-link-inverse);
    }

    .rtds-link-primary-hover {
        color: var(--color-link-primary-hover);
    }

    .rtds-link-inverse-hover {
        color: var(--color-link-inverse-hover);
    }

    .rtds-link-inverse-visited {
        color: var(--color-link-inverse-visited);
    }

    /* Link secondary */
    .rtds-link-secondary {
        color: var(--color-link-secondary);
    }

    .rtds-link-secondary-hover {
        color: var(--color-link-secondary-hover);
    }

    .rtds-link-secondary-focus {
        color: var(--color-link-secondary-focus);
    }

    .rtds-link-secondary-active {
        color: var(--color-link-secondary-active);
    }

    /* BACKGROUND CUSTOM UTILITIES */
    .rtds-background-01 {
        background-color: var(--color-background-01);
    }

    .rtds-background-02 {
        background-color: var(--color-background-02);
    }

    .rtds-background-03 {
        background-color: var(--color-background-03);
    }

    .rtds-background-04 {
        background-color: var(--color-background-04);
    }

    .rtds-background-05 {
        background-color: var(--color-background-05);
    }

    .rtds-background-06 {
        background-color: var(--color-background-06);
    }

    .rtds-background-07 {
        background-color: var(--color-background-07);
    }

    .rtds-background-08 {
        background-color: var(--color-background-08);
    }

    .rtds-background-09 {
        background-color: var(--color-background-09);
    }

    .rtds-background-primary {
        background-color: var(--color-background-primary);
    }

    .rtds-background-primary-light {
        background-color: var(--color-background-primary-light);
    }
    
    .rtds-background-inverse {
        background-color: var(--color-background-inverse);
    }

    .rtds-background-primary-dark {
        background-color: var(--color-background-primary-dark);
    }

    .rtds-background-secondary {
        background-color: var(--color-background-secondary);
    }

    .rtds-background-secondary-light {
        background-color: var(--color-background-secondary-light);
    }

    .rtds-background-secondary-dark {
        background-color: var(--color-background-secondary-dark);
    }

    /* BORDER CUSTOM */
    .rtds-border-gray-01 {
        border-color: var(--color-border-gray-01);
    }

    .rtds-divide-gray-01 {
        border-color: var(--color-divide-gray-01);
    }

    .rtds-border-gray-02 {
        border-color: var(--color-border-gray-02);
    }

    .rtds-divide-gray-02 {
        border-color: var(--color-divide-gray-02);
    }

    .rtds-border-gray-03 {
        border-color: var(--color-border-gray-03);
    }

    .rtds-divide-gray-03 {
        border-color: var(--color-divide-gray-03);
    }

    .rtds-border-gray-04 {
        border-color: var(--color-border-gray-04);
    }

    .rtds-divide-gray-04 {
        border-color: var(--color-divide-gray-04);
    }

    .rtds-border-input {
        border-color: var(--color-border-input);
    }

    .rtds-border-primary {
        border-color: var(--color-border-primary);
    }

    .rtds-divide-primary {
        border-color: var(--color-divide-primary);
    }

    .rtds-border-secondary {
        border-color: var(--color-border-secondary);
    }

    .rtds-divide-secondary {
        border-color: var(--color-divide-secondary);
    }

    .rtds-border-inverse {
        border-color: var(--color-border-inverse);
    }

    .rtds-divide-inverse {
        border-color: var(--color-divide-inverse);
    }

}