{% set current_url = h.full_current_url() %}
{% block social %}
<section class="rtds-py-4 rtds-grid rtds-gap-4 rtds-pr-16">
  {% block social_title %}
  <h3 class="rtds-body-lg rtds-font-bold">{{ _('Social') }}</h3>
  {% endblock %}
  {% block social_nav %}
  <ul class="rtds-flex rtds-flex-wrap rtds-gap-4">
    {# <li class="nav-item"><a href="https://twitter.com/share?url={{ current_url }}" target="_blank"><i class="fa-brands fa-twitter-square"></i> Twitter</a></li> #}
    <li>
      <a href="" target="_blank">
        <svg class="rtds-inline-block rtds-align-middle rtds-fill-current rtds-w-8 rtds-h-8" aria-hidden="true" focusable="false" role="img">
          <use href="/icons.svg#mini--instagram" />
        </svg>
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/sharer.php?u={{ current_url }}" target="_blank">
        <svg class="rtds-inline-block rtds-align-middle rtds-fill-current rtds-w-8 rtds-h-8" aria-hidden="true" focusable="false" role="img">
          <use href="/icons.svg#mini--facebook" />
        </svg>
      </a>
    </li>
  </ul>
  {% endblock %}
</section>
{% endblock %}