<section class="rtds-pb-4 rtds-pt-4 md:rtds-px-6 rtds-grid rtds-gap-8">
  <h3 class="rtds-heading-3">{{ _('Additional Info') }}</h3>
  <dl class="rtds-grid rtds-gap-4">
    {% block package_additional_info %}
    {% if pkg_dict.url %}
    <div class="rtds-grid lg:rtds-grid-cols-12">
      <dt class="rtds-col-span-3">{{ _('Source') }}</dt>
      {% if h.is_url(pkg_dict.url) %}
      <dd class="rtds-col-span-9 rtds-content-03">
        <a class="rtds-text-link rtds-link-primary" href="{{ pkg_dict.url }}" rel="foaf:homepage" target="_blank">
          {{ pkg_dict.url }}
        </a>
      </dd>
      {% else %}
      <dd class="rtds-col-span-9 rtds-content-03">{{ pkg_dict.url }}</dd>
      {% endif %}
    </div>
    {% endif %}

    {% if pkg_dict.author_email %}
    <div class="rtds-grid lg:rtds-grid-cols-12">
      <dt class="rtds-col-span-3">{{ _("Author") }}</dt>
      <dd class="rtds-col-span-9 rtds-content-03">{{ h.mail_to(email_address=pkg_dict.author_email,
        name=pkg_dict.author) }}</dd>
    </div>
    {% elif pkg_dict.author %}
    <div class="rtds-grid lg:rtds-grid-cols-12">
      <dt class="rtds-col-span-3">{{ _("Author") }}</dt>
      <dd class="rtds-col-span-9 rtds-content-03">{{ pkg_dict.author }}</dd>
    </div>
    {% endif %}

    {% if pkg_dict.maintainer_email %}
    <div class="rtds-grid lg:rtds-grid-cols-12">
      <dt class="rtds-col-span-3">{{ _('Maintainer') }}</dt>
      <dd class="rtds-col-span-9 rtds-content-03">{{ h.mail_to(email_address=pkg_dict.maintainer_email,
        name=pkg_dict.maintainer) }}</dd>
    </div>
    {% elif pkg_dict.maintainer %}
    <div class="rtds-grid lg:rtds-grid-cols-12">
      <dt class="rtds-col-span-3">{{ _('Maintainer') }}</dt>
      <dd class="rtds-col-span-9 rtds-content-03">{{ pkg_dict.maintainer }}</dd>
    </div>
    {% endif %}

    {% if pkg_dict.version %}
    <div class="rtds-grid lg:rtds-grid-cols-12">
      <dt class="rtds-col-span-3">{{ _("Version") }}</dt>
      <dd class="rtds-col-span-9 rtds-content-03">{{ pkg_dict.version }}</dd>
    </div>
    {% endif %}

    {% if h.check_access('package_update',{'id':pkg_dict.id}) %}
    <div class="rtds-grid lg:rtds-grid-cols-12">
      <dt class="rtds-col-span-3">{{ _("State") }}</dt>
      <dd class="rtds-col-span-9 rtds-content-03">{{ _(pkg_dict.state) }}</dd>
    </div>
    {% endif %}
    {% if pkg_dict.metadata_modified %}
    <div class="rtds-grid lg:rtds-grid-cols-12">
      <dt class="rtds-col-span-3">{{ _("Last Updated") }}</dt>
      <dd class="rtds-col-span-9 rtds-content-03">
        {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=pkg_dict.metadata_modified %}
      </dd>
    </div>
    {% endif %}
    {% if pkg_dict.metadata_created %}
    <div class="rtds-grid lg:rtds-grid-cols-12">
      <dt class="rtds-col-span-3">{{ _("Created") }}</dt>
      <dd class="rtds-col-span-9 rtds-content-03">
        {% snippet 'snippets/local_friendly_datetime.html', datetime_obj=pkg_dict.metadata_created %}
      </dd>
    </div>
    {% endif %}

    {% block extras scoped %}
    {% for extra in pkg_dict.extras %}
    <div class="rtds-grid lg:rtds-grid-cols-12">
      <dt class="rtds-col-span-3">{{ _(extra.key) }}</dt>
      <dd class="rtds-col-span-9 rtds-content-03">{{ extra.value }}</dd>
    </div>
    {% endfor %}
    {% endblock %}


    {% endblock %}
  </dl>
</section>
