{#
Renders a single resource with icons and view links.

res - A resource dict to render
pkg - A package dict that the resource belongs to
can_edit - Whether the user is allowed to edit the resource
url_is_edit - Whether the link to the resource should be to editing it (set to False to make the link view the resource)
url - URL of the resource details page(resource edit/read depending on url_is_edit, by default).

Example:

{% snippet "package/snippets/resource_item.html", res=resource, pkg=pkg, can_edit=True, url_is_edit=False %}

#}
{% set url_action = pkg.type ~ ('_resource.edit' if url_is_edit and can_edit else '_resource.read') %}
{% set url = url or h.url_for(url_action, id=pkg.name, resource_id=res.id) %}

<li class="rtds-py-4 rtds-border-t rtds-border-gray-01 rtds-grid md:rtds-flex md:rtds-flex-wrap rtds-justify-items-start md:rtds-justify-between rtds-items-center rtds-gap-4" data-id="{{ res.id }}">
  {% block resource_item_title %}
  {# rtds-truncate rtds-w-full #}
  <a class="rtds-truncate sm:rtds-overflow-auto rtds-w-full sm:rtds-w-auto" href="{{ url }}" title="{{ res.name or res.description }}">
    {{ h.resource_display_name(res) | truncate(50) }}
    {# {{ h.popular('views', res.tracking_summary.total, min=10) if res.tracking_summary }} #}
  </a>
  <div class="md:rtds-grow md:rtds-flex md:rtds-justify-end">
    <span class="rtds-chip rtds-chip--sm rtds-chip--tag" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">{{ h.get_translated(res, 'format') }}</span>
  </div>
  <div class="rtds-flex rtds-flex-wrap rtds-gap-4 rtds-items-center">
    {% block resource_item_explore %}
    {% if not url_is_edit %}
    <a class="rtds-link rtds-link--sm" href="{{ url }}">
      {% if res.has_views %}
      {{ _('Preview') }}
      {% else %}
      {{ _('More information') }}
      {% endif %}
    </a>
    {% if res.url and h.is_url(res.url) %}
    <a class="rtds-btn rtds-btn--s rtds-btn--only-text" href="{{ res.url }}" target="_blank" rel="noreferrer">
      {% if res.has_views or res.url_type == 'upload' %}
      {{ _('Download') }}
      <svg class="rtds-icon rtds-fill-current rtds-w-4 rtds-h-4 md:rtds-w-5 md:rtds-h-5 lg:rtds-w-6 lg:rtds-h-6 rtds-transition-all rtds-duration-200 rtds-ease-out rtds-transform group-hover:rtds-translate-x-1" aria-hidden="true" focusable="false" role="img">
        <use href="/icons.svg#outline--arrow-down-tray" />
      </svg>
      {% else %}
      {{ _('Go to resource') }}
      <svg class="rtds-icon rtds-fill-current rtds-w-4 rtds-h-4 md:rtds-w-5 md:rtds-h-5 lg:rtds-w-6 lg:rtds-h-6 rtds-transition-all rtds-duration-200 rtds-ease-out rtds-transform group-hover:rtds-translate-x-1" aria-hidden="true" focusable="false" role="img">
        <use href="/icons.svg#mini--arrow-top-right-on-square" />
      </svg>
      {% endif %}
    </a>
    {% endif %}
    {# <div class="dropdown btn-group">
      <a href="#" class="btn btn-primary dropdown-toggle" type="button" id="dropdownExplorer" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-share"></i>
        {{ _('Explore') }}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownExplorer">
        {% block resource_item_explore_links %}
        {% block explore_view %}
        <li>
          <a class="dropdown-item" href="{{ url }}">
            {% if res.has_views %}
            <i class="fa fa-chart-bar"></i>
            {{ _('Preview') }}
            {% else %}
            <i class="fa fa-info-circle"></i>
            {{ _('More information') }}
            {% endif %}
          </a>
        </li>
        {% endblock explore_view %}

        {% if res.url and h.is_url(res.url) %}
        <li>
          <a class="dropdown-item resource-url-analytics" href="{{ res.url }}" target="_blank" rel="noreferrer">
            {% if res.has_views or res.url_type == 'upload' %}
            <i class="fa fa-arrow-circle-down"></i>
            {{ _('Download') }}
            {% else %}
            <i class="fa fa-external-link"></i>
            {{ _('Go to resource') }}
            {% endif %}
          </a>
        </li>
        {% endif %}
        {% if can_edit %}
        <li>
          <a class="dropdown-item" href="{{ h.url_for(pkg.type ~ '_resource.edit', id=pkg.name, resource_id=res.id) }}">
            <i class="fa fa-pencil-square"></i>
            {{ _('Edit') }}
          </a>
        </li>
        {% endif %}
        {% endblock %}
      </ul>
    </div> #}
    {% endif %}
    {% endblock %}
  </div>
  {% endblock %}
  {% block resource_item_description %}
  {# <p class="description">
    {% if res.description %}
    {{ h.markdown_extract(h.get_translated(res, 'description'), extract_length=80) }}
    {% endif %}
  </p> #}
  {% endblock %}
</li>