{#
  Renders a list of resources with icons and view links.

  resources - A list of resources (dicts) to render
  pkg - A package dict that the resources belong to.

  Example:

  {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}

  #}

<section id="dataset-resources" class="rtds-pb-4 rtds-pt-4 md:rtds-px-6 rtds-grid rtds-gap-8 rtds-border-b rtds-border-gray-03">
  <h3 class="rtds-heading-3">{{ _('Data and Resources') }}</h3>
  {% block resource_list %}
    {% if resources %}
      <ul class="rtds-grid rtds-gap-4">
        {% block resource_list_inner %}
          {% set can_edit = can_edit or h.check_access('package_update', {'id':pkg.id }) %}
          {% for resource in resources %}
            {% snippet 'package/snippets/resource_item.html', pkg=pkg, res=resource, can_edit=can_edit %}
          {% endfor %}
        {% endblock %}
      </ul>
    {% else %}
      {% block resource_list_empty %}
        {% if h.check_access('resource_create', {'package_id': pkg['id']}) %}
          {% trans url=h.url_for(pkg.type ~ '_resource.new', id=pkg.name) %}
          <p class="empty">This dataset has no data, <a href="{{ url }}">why not add some?</a></p>
          {% endtrans %}
        {% else %}
          <p class="empty">{{ _('This dataset has no data') }}</p>
        {% endif %}
      {% endblock %}
    {% endif %}
  {% endblock %}
</section>
