{% extends "page-resource.html" %}

{% block pre_primary %}
<div class="rtds-grid rtds-gap-4 rtds-mt-8 rtds-mb-12">
  <div class="rtds-flex">
    <a href="javascript:history.back()" class="rtds-text-link rtds-content-03 rtds-text-link--s">
      <svg class="rtds-icon rtds-fill-current rtds-w-4 rtds-h-4 rtds-flex-shrink-0 rtds-flex-grow-0" aria-hidden="true" focusable="false" role="img">
        <use href="/icons.svg#solid--arrow-left" />
      </svg>
      {{ _('Go back') }}
    </a>
  </div>
  <h1 class="rtds-heading-1">{{ h.resource_display_name(res) }}</h1>
  {% if res.description %}
  <div class="rtds-body-lg rtds-max-w-5xl">
    {{ h.render_markdown(res.description) }}
  </div>
  {% endif %}
  <div>
    <a class="rtds-btn rtds-btn--s rtds-btn--primary" href="{{ res.url }}" target="_blank" rel="noreferrer">
      {% if res.has_views or res.url_type == 'upload' or res.format.lower() == 'link' %}
        {{ _('Go to resource') }}
        <svg class="rtds-icon rtds-fill-current rtds-w-4 rtds-h-4 md:rtds-w-5 md:rtds-h-5 lg:rtds-w-6 lg:rtds-h-6 rtds-transition-all rtds-duration-200 rtds-ease-out rtds-transform group-hover:rtds-translate-x-1" aria-hidden="true" focusable="false" role="img">
          <use href="/icons.svg#mini--arrow-top-right-on-square" />
        </svg>
      {% else %}
        {{ _('Download') }}
        <svg class="rtds-icon rtds-fill-current rtds-w-4 rtds-h-4 md:rtds-w-5 md:rtds-h-5 lg:rtds-w-6 lg:rtds-h-6 rtds-transition-all rtds-duration-200 rtds-ease-out rtds-transform group-hover:rtds-translate-x-1" aria-hidden="true" focusable="false" role="img">
          <use href="/icons.svg#mini--chevron-down" />
        </svg>
      {% endif %}
    </a>

    {% if h.check_access('resource_update', {'id': res.id}) %}
      <a class="rtds-btn rtds-btn--s rtds-btn--primary" href="{{ h.url_for('resource.edit', id=pkg.name, resource_id=res.id) }}">
        {{ _('Edit') }}
        <svg class="rtds-icon rtds-fill-current rtds-w-4 rtds-h-4 md:rtds-w-5 md:rtds-h-5 lg:rtds-w-6 lg:rtds-h-6 rtds-transition-all rtds-duration-200 rtds-ease-out rtds-transform group-hover:rtds-translate-x-1" aria-hidden="true" focusable="false" role="img">
          <use href="/icons.svg#mini--wrench" />
        </svg>
      </a>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block primary_content_inner %}
  {% block resource_additional_information %}
    {% if res %}
      <section class="rtds-pb-4 rtds-pt-4 md:rtds-px-6 rtds-grid rtds-gap-8">
        <h3 class="rtds-heading-3">{{ _('Additional Information') }}</h3>
        <dl class="rtds-grid rtds-gap-4">
          <div class="rtds-grid lg:rtds-grid-cols-12">
            <dt class="rtds-col-span-3">{{ _('Data last updated') }}</dt>
            <dd class="rtds-col-span-9 rtds-content-03">{{ h.render_datetime(res.last_modified) or h.render_datetime(res.created) or _('unknown') }}</dd>
          </div>
          <div class="rtds-grid lg:rtds-grid-cols-12">
            <dt class="rtds-col-span-3">{{ _('Metadata last updated') }}</dt>
            <dd class="rtds-col-span-9 rtds-content-03">{{ h.render_datetime(res.metadata_modified) or h.render_datetime(res.created) or _('unknown') }}</dd>
          </div>
          <div class="rtds-grid lg:rtds-grid-cols-12">
            <dt class="rtds-col-span-3">{{ _('Created') }}</dt>
            <dd class="rtds-col-span-9 rtds-content-03">{{ h.render_datetime(res.created) or _('unknown') }}</dd>
          </div>
          <div class="rtds-grid lg:rtds-grid-cols-12">
            <dt class="rtds-col-span-3">{{ _('Format') }}</dt>
            <dd class="rtds-col-span-9 rtds-content-03">{{ res.format or res.mimetype_inner or res.mimetype or _('unknown') }}</dd>
          </div>
          <div class="rtds-grid lg:rtds-grid-cols-12">
            <dt class="rtds-col-span-3">{{ _('License') }}</dt>
            <dd class="rtds-col-span-9 rtds-content-03">{% snippet "snippets/license.html", pkg_dict=pkg, text_only=True %}</dd>
          </div>
        </dl>
      </section>
    {% endif %}
  {% endblock %}
{% endblock %}