{#
Displays a sidebard module with information about organizations.

group_type - The type of organization.

Example:

{% snippet "organization/snippets/helper.html", group_type=group_type %}

#}


<div class="module module-narrow module-shallow">
  {# <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('What are Organizations?') }}
  </h2> #}
  <div class="module-content">
    <p>
      {% trans %}
      CKAN Organizations are used to create, manage and publish collections
      of datasets. Users can have different roles within an Organization,
      depending on their level of authorisation to create, edit and publish.
      {% endtrans %}
    </p>
    <div class="rtds-mt-4">
      {% block page_primary_action %}
      {% if h.check_access('organization_create') %}
      {% link_for h.humanize_entity_type('organization', group_type, 'add link') or _('Add Organization'), named_route=group_type ~ '.new', class_='btn btn-primary', icon='plus-square' %}
      {% endif %}
      {% endblock %}
    </div>
  </div>
</div>